<form class="layui-form  seller-alone-form" id="edit" style="padding:20px;">
    <input type="hidden" name="id" value="{$info.id}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属楼层：</label>
            <div class="layui-input-inline seller-inline-5">
                <select name="floor_id" >
                    <option value="" selected="selected">请选择</option>
                    {foreach $floor as $k=>$v}
                    <option value="{$v.id}" {if $info.floor_id == $v.id}selected{/if}>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">类型：</label>
            <div class="layui-input-inline seller-inline-5">
                <select name="type" lay-filter="type">
                    <option value="" selected="selected">请选择</option>
                    {foreach $type as $k=>$v}
                    <option value="{$k}" {if $info.type == $k}selected{/if}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">类别：</label>
            <div class="layui-input-inline seller-inline-5">
                <select name="cat" lay-filter="cat">
                    <option value="" selected="selected">请选择</option>
                    {foreach $cat as $k=>$v}
                    <option value="{$k}" {if $info.cat == $k}selected{/if}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div id="div2"  style="display: none">
        <input type="hidden" name="article_id" id="article_id" {if $info.cat == 2}value="{$info.val}"{/if}>
        <div class="layui-form-item">
            <label class="layui-form-label">文章详情：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" id="article" name="article" {if $info.cat == 2}value="{$info.name}"{/if} readonly="readonly" required placeholder="请选择文章" autocomplete="off" class="layui-input" onclick="article_info()">
            </div>
        </div>
    </div>

    <div id="div1"  style="display: none">

        <div class="layui-form-item">
            <label class="layui-form-label">链接URL：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" id="url" name="url" {if $info.cat == 1}value="{$info.val}"{/if} required placeholder="请输入合法的URL链接,必须以http://开头" autocomplete="off" class="layui-input">
            </div>
        </div>

    </div>
    <div id="div3" class="layui-form-item" style="display: none">
        <div class="layui-inline">
            <input type="hidden" id="goods_id" name="goods_id" {if $info.cat == 3}value="{$info.val}"{/if}>
            <label class="layui-form-label ">商品：</label>
            <div class="layui-input-inline seller-inline-5">

                <div class="layui-input-inline seller-inline-5">
                    <input type="text" id="goods" name="goods" readonly="readonly" {if $info.cat == 3}value="{$info.name}"{/if}  required placeholder="请选择文章" autocomplete="off" class="layui-input" onclick="goodsInfo()">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告图片：</label>
        <button type="button" class="layui-btn" id="test1">上传图片</button>
        <div class="layui-upload-list" style="margin-left: 110px">
            <img class="layui-upload-img" id="demo1"  src= "{$info.image_url}" style="width: 100px;height: 100px">
            <input type="hidden" name="image" id="img" value="{$info.image}">
            <p id="demoText"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="sort" value="{$info.sort}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn "  lay-submit lay-filter="save">保存</button>
            <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
        </div>
    </div>
</form>
<script>

    layui.use(['form','table','laydate','upload'], function(){
        var $ = layui.$,form = layui.form,table = layui.table, upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/manage/images/uploadImage/'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                $('#img').attr('value', res.data.image_id); //图片链接（base64）
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        var cat = $('select[name=cat] option:selected').val();

        if(cat === '1') {
            $("#div1").show();
        }else if(cat === '2'){
            $("#div2").show();
        }else if(cat === '3'){
            $("#div3").show();
        }
        // var type = $('select[name=type] option:selected').val();
        // if(type == 1){
        //     var css = {
        //         height : '100px',
        //         width  : '88px',
        //
        //     };
        //     $("#demo1").css(css);
        // }else if(type == 2){
        //     var css = {
        //         height : '100px',
        //         width  : '1000px',
        //     };
        //     $("#demo1").css(css);
        // }
        form.on('select(type)', function(data){
            var type = data.value;

            if(type == 1){
                var css = {
                    height : '100px',
                    width  : '88px',

                };
                $("#demo1").css(css);
            }
            if(type == 2){
                var css = {
                    height : '100px',
                    width  : '1000px',
                };
                $("#demo1").css(css);
            }
        });
        //监听商品列表页工具条
        table.on('tool(goodsTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'selectGoods'){ //选择
                $("#goods").val(data.name);
                $("#goods_id").val(data.id);
                layer.close(window.box);
            }
        });
        //监听文章列表页工具条
        table.on('tool(articleTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'selectArticle'){ //选择
                $("#article_id").val(data.id);
                $("#article").val(data.title);
                layer.close(window.box);
            }
        });

        form.on('select(cat)', function(data){
            if (data.value === '') {
                $("#div1").hide();
                $("#div2").hide();
                $("#div3").hide();
            }
            if (data.value === '1') {
                $("#div1").show();
                $("#div2").hide();
                $("#div3").hide();
            }
            if (data.value === '2') {
                $("#div1").hide();
                $("#div2").show();
                $("#div3").hide();
            }
            if (data.value === '3') {
                $("#div1").hide();
                $("#div2").hide();
                $("#div3").show();
            }
        });
        //保存
        form.on('submit(save)', function(data){
            formData = data.field;
            if(!formData){
                layer.msg('请先完善数据', {time: 1300});
                return false;
            }
            $.ajax({
                url: "{:get_addon_url('Pc://PcFloorAdv/edit')}",
                type: 'post',
                data: formData,
                dataType: 'json',
                success: function(e){
                    console.log(e);
                    if(e.status === true){
                        layer.msg(e.msg, {time: 1300}, function(){
                            window.location.href= "{:get_addon_url('Pc://PcFloorAdv/index')}";
                        });
                    }else{
                        layer.msg(e.msg, {time: 1300});
                    }
                }
            });
            return false;
        });
    });

    function article_info()
    {
        JsGet("{:get_addon_url('Pc://PcFloorAdv/articleInfo')}",function(e){
            window.box = layer.open({
                type: 1,
                content: e,
                area: ['700px', '450px'],
                title:'文章列表'
            });
        });
    }
    function goodsInfo()
    {
        JsGet("{:get_addon_url('Pc://PcFloorAdv/getGoods')}",function(e){
            window.box = layer.open({
                type: 1,
                content: e,
                area: ['700px', '450px'],
                title:'商品列表',
                btn: ['确定','取消'],
                yes: function(){
                    layer.close(window.box);
                }
            });
        });
    }

</script>
