<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$shop_name}管理平台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="__STATIC_LIB__layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__STATIC_LIB__layuiadmin/style/admin.css" media="all">
		<link rel="stylesheet" type="text/css" href="__STATIC_CSS__iconfont-none.css"/ media="all">
		<link rel="stylesheet" type="text/css" href="__STATIC_CSS__iconfont.css"/ media="all">
		<!-- <link rel="stylesheet" type="text/css" href="__STATIC_CSS__iconfont2.css"/> -->
		<link rel="stylesheet" href="__STATIC_LIB__layuiadmin/layui/css/layui.seller.css">
		<link rel="stylesheet" type="text/css" href="__STATIC_CSS__style.css" />
	</head>
	<body class="layui-layout-body">
		<div class="index-tip">请按住Ctrl+鼠标滚轮调整缩放至80%以获得更好的体验。</div>
		<div id="LAY_app">
			<div class="layui-layout layui-layout-admin">
				<div class="layui-header">
					<!-- 头部区域 -->
					<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item layadmin-flexible" lay-unselect>
							<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
								<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="/" target="_blank" title="前台">
								<i class="layui-icon layui-icon-website"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;" layadmin-event="refresh" title="刷新">
								<i class="layui-icon layui-icon-refresh-3"></i>
							</a>
						</li>
					</ul>
					<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="note">
								<i class="layui-icon layui-icon-note"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="fullscreen">
								<i class="layui-icon layui-icon-screen-full"></i>
							</a>
						</li>
						<li class="layui-nav-item manage" lay-unselect>
							<a href="javascript:;">
								<cite>{:session('manage.username')}</cite>
							</a>
							<dl class="layui-nav-child">
								<dd><a lay-href="{:url('Administrator/information')}">个人中心</a></dd>
								<dd><a lay-href="{:url('index/clearCache')}">清除缓存</a></dd>
								<hr>
								<dd><a data-href="{:url('Common/logout')}" layadmin-event="logout">退出</a></dd>
							</dl>
						</li>
					</ul>
				</div>

				<!-- 侧边菜单 -->
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<div class="layui-logo" lay-href="{:url('Index/welcome')}">
							<span>{$shop_name}</span>
						</div>
						{include file="common/menu" /}
					</div>
				</div>

				<!-- 页面标签 -->
				<div class="layadmin-pagetabs" id="LAY_app_tabs">
					<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-down">
						<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
							<li class="layui-nav-item" lay-unselect>
								<a href="javascript:;"></a>
								<dl class="layui-nav-child layui-anim-fadein">
									<dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
									<dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
									<dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
						<ul class="layui-tab-title" id="LAY_app_tabsheader">
							<li lay-id="{:url('Index/welcome')}" lay-attr="{:url('Index/welcome')}" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
						</ul>
					</div>
				</div>

				<!-- 主体内容 -->
				<div class="layui-body" id="LAY_app_body">
					<div class="layadmin-tabsbody-item layui-show">
						<iframe src="{:url('Index/welcome')}" frameborder="0" class="layadmin-iframe"></iframe>
					</div>
				</div>

				<div class="layui-footer">
					<!-- 底部固定区域 -->
					<p>吉海科技 © jihainet.com - 版权所有</p>
					<a href="https://www.jihainet.com/" target="_blank">问题请求|产品建议请上吉海官网</a>
					<a href="https://www.kancloud.cn/jihainet/jshop_operate" target="_blank">《使用手册》</a>
				</div>
				<!-- 辅助元素，一般用于移动设备下遮罩 -->
				<div class="layadmin-body-shade" layadmin-event="shade"></div>
			</div>

		</div>

		<script src="__STATIC_LIB__layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '__STATIC_LIB__layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use('index');
		</script>
		<style>
			.index-tip {
				position: fixed;
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 9999;
				background-color: #fff;
				box-shadow: 0 0 10px #ccc;
				padding: 10px 20px;
				display: none;
			}
		</style>
	</body>
</html>
