
<div class="layui-form seller-form"  action="" >
    <div class="layui-form-item">
        <div class="layui-inline"><div class="layui-form-mid">您选择了:<span id="tagNoticeNum">0</span>个公告</div></div>
    </div>
</div>

<table id="tagNoticeTable" lay-filter="tagNoticeTable"></table>

<script>
    var time = "{$Think.get.time}";
    var ids = {};
    if(time){
        ids = eval(''+time+'_list');
    }
    var table_data=new Array();
    var allow_num = "{$allow_mul}";
    var select_type = {type:'checkbox'};
    if(allow_num == "2"){
        select_type = {type:'radio'}
    }
    layui.use(['form', 'laydate','table'], function(){
        layui.table.render({
            elem: '#tagNoticeTable',
            height: '420',
            page: 'true',
            limit:'10',
            url: "{:url('index/tagSelectNotice')}?_ajax=1",
            id:'tagNoticeTable',
            cols: [[
                select_type,
                {field: 'title', title: '公告标题'},
                {field: 'content', title: '公告描述内容',align:'center'},
                {field: 'ctime', title: '更新时间', width: 200, sort: true,align:'center'},
                {field: 'sort', title: '排序', width: 80, sort: true,align:'center'},
            ]],
            done: function(res, curr, count){
                //数据表格加载完成时调用此函数
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度

                //设置全部数据到全局变量
                table_data=res.data;

                //在缓存中找到id ,然后设置data表格中的选中状态
                //循环所有数据，找出对应关系，设置checkbox选中状态
                for(var i=0;i< res.data.length;i++){
                    if(ids[res.data[i].id]){
                        ids[res.data[i].id] = res.data[i];

                        //这里才是真正的有效勾选
                        res.data[i]["LAY_CHECKED"] = 'true';
                        //找到对应数据改变勾选样式，呈现出选中效果
                        var index = res.data[i]['LAY_TABLE_INDEX'];
                        if (allow_num == '2') {
                            // console.log($('#tagNoticeTable + div .layui-table-body tr[data-index=' + index + '] input[type="radio"]'));                        
                            $("#tagNoticeTable + div .layui-table-body tr[data-index = " + index + " ] .layui-form-radio").click();
                            break
                        } else {
                            $('#tagNoticeTable + div .layui-table-body tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                            $('#tagNoticeTable + div .layui-table-body tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');

                        }
                    }
                }
                //设置全选checkbox的选中状态，只有改变LAY_CHECKED的值， table.checkStatus才能抓取到选中的状态
                var checkStatus = layui.table.checkStatus('tagNoticeTable');
                if(checkStatus.isAll){
                    $('#tagNoticeTable + div .layui-table-header th[data-field="0"] input[type="checkbox"]').prop('checked', true);
                    $('#tagNoticeTable + div .layui-table-header th[data-field="0"] input[type="checkbox"]').next().addClass('layui-form-checked');
                }
            $('#tagNoticeNum').html(Object.getOwnPropertyNames(ids).length);

            }
        });
        //监听表格复选框选择
        layui.table.on('checkbox(tagNoticeTable)', function(obj){
            if(obj.checked){
                if(obj.type=='one'){
                    ids[obj.data.id] = obj.data;
                }else{
                    for(var i=0;i<table_data.length;i++){
                        ids[table_data[i].id] = table_data[i];
                    }
                }
                //the_val[obj.data.id] = obj.data;
            }else{
                if(obj.type=='one'){
                    delete ids[obj.data.id];
                }else{
                    for(var i=0;i<table_data.length;i++){
                        delete ids[table_data[i].id];
                    }
                }
            }
            $('#tagNoticeNum').html(Object.getOwnPropertyNames(ids).length);
        });
        layui.table.on('radio(tagNoticeTable)', function(obj){
            if (ids[obj.data.id]) {

            } else {
                ids = {}
                ids[obj.data.id] = obj.data
            }
            $('#tagNoticeNum').html(Object.getOwnPropertyNames(ids).length);
        });
        layui.form.on('submit(goods-search)', function(data){
            layui.table.reload('tagNoticeTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
