<form class="layui-form seller-alone-form" style="padding:20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">退款单号：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$info.refund_id}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{:get_user_info($info.user_id, 'nickname')}</div>
        </div>
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$params.bill_refund.status[$info.status]}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">退款金额：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$info.money}</div>
        </div>
        <label class="layui-form-label">退款方式：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{:get_payment_info($info.payment_code)}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单据类型：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$params.bill_refund.type[$info.type]}</div>
        </div>
        <label class="layui-form-label">单号：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$info.source_id}</div>
        </div>
    </div>
</form>
