<form style="padding:30px;" class="layui-form" id="edit_form">

    <div class="layui-form-item">
        <label class="layui-form-label">管理员：</label>
        {if $userInfo}
        <div class="layui-form-mid">
            <input type="hidden" name="id" value="{$userInfo.id}" />
            {$userInfo.mobile}({$userInfo.nickname})
        </div>
        {else /}
            <div class="layui-input-inline seller-inline-6">
                <input name="mobile" value="{$data.mobile}" placeholder="请输入管理员手机号码" class="layui-input" type="text">
            </div>
        {/if}
    </div>
    {if !$userInfo}
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-form-mid layui-word-aux">请填写已注册成为会员的手机号码</div>
    </div>
    {/if}
    <div class="layui-form-item">
        <label class="layui-form-label">角色：</label>
        <div class="layui-input-inline seller-inline-6">
            {volist name="roleList" id="vo"}
                <input type="checkbox" name="role_id[{$vo.id}]" lay-skin="primary" title="{$vo.name}" {if isset($vo['checked']) && $vo['checked']}checked=""{/if} >
            {/volist}


        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>