.idea/*
config/database.php
public/static/uploads
config/install.lock
*.log
vendor/zoujingli/wechat-php-sdk/Wechat/Cache/
public/static/file
public/install/install.lock
public/qrcode/
*.bak
uni-app/unpackage/
.user.ini
.vscode/
.history
.idea
themes/pc/node_modules/*
public/static/poster/*
public/static/qrcode/*
.DS_Store
pc/node_modules/*