.idea/*
runtime/*
config/database.php
public/static/uploads
config/install.lock
*.log
vendor/zoujingli/wechat-php-sdk/Wechat/Cache/
public/static/file
public/install/install.lock
public/qrcode/
*.bak
public/static/poster/*
public/static/qrcode/*
uni-app/unpackage/
.user.ini
.vscode/