<style>
    .layui-form-item label{
        width: 120px;
    }
</style>
<div class="layui-form seller-alone-form" style="padding:10px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"> <legend>配置二维码</legend></fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">二维码宽度：</label>
        <div class="layui-input-inline">
            <input type="number" id="width" value="430" placeholder="单位像素，默认430" max="9999" min="100" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">背景颜色：</label>
        <div class="layui-input-inline">
            <select name="is_hyaline" id="is_hyaline">
                <option value="false">白色背景</option>
                <option value="true">透明背景</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">线条红色值：</label>
        <div class="layui-input-inline">
            <input type="number" id="r" value="0" placeholder="0-255" max="255" min="0" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">线条绿色值：</label>
        <div class="layui-input-inline">
            <input type="number" id="g" value="0" placeholder="0-255" max="255" min="0" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">线条蓝色值：</label>
        <div class="layui-input-inline">
            <input type="number" id="b" value="0" placeholder="0-255" max="255" min="0" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 30px">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <button class="layui-btn layui-btn-sm generate" style="width: 100px;">生 成</button>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"> <legend>下载预览</legend></fieldset>
    <div id="img">
        {if $img}
            <a href="/{$img}" target="_blank"><img src="/{$img}" alt=""></a>
        {/if}
    </div>
</div>
<script>
    layui.use('form', function(){
        $(".generate").click(function(){
            let width = $("#width").val();
            let is_hyaline = $("#is_hyaline").val();
            let r = $("#r").val();
            let g = $("#g").val();
            let b = $("#b").val();
            $.ajax({
                url: "{:url('Wechat/generateQRCode')}",
                type: 'post',
                data: {
                    width: width,
                    is_hyaline: is_hyaline,
                    line_color_r: r,
                    line_color_g: g,
                    line_color_b: b
                },
                dataType: 'json',
                success: function (e) {
                    let html = '<a href="/'+e.data+'" target="_blank"><img src="/'+e.data+'" alt=""></a>';
                    $("#img").html(html);
                }
            });
        });
    });
</script>