<style>
    .layui-form-pane{
        overflow-y: auto;
        height:100%;
        box-sizing: border-box;
    }
</style>
<form class="layui-form  seller-alone-form layui-form-pane" id="editDistribution" style="padding: 20px;">
    <div class="layui-form-item">
        <input type="hidden" name="id" value="{$data.id}">
        <div class="layui-inline">
            <label class="layui-form-label">手机号：</label>

            <div class="layui-input-inline">
                <span style="display:block;height: 38px;line-height: 38px;">{$data.mobile}</span>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">姓名：</label>

            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" value="{$data.name}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">微信号：</label>

            <div class="layui-input-inline">
                <input type="text" name="weixin" class="layui-input" value="{$data.weixin}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">QQ号：</label>
            <div class="layui-input-inline">
                <input type="text" name="qq" class="layui-input" value="{$data.qq}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">等级：</label>
            <div class="layui-input-inline">
                <select name="grade_id">
                    <option value="0">请选择</option>
                    {foreach $grade as $k=>$v}
                        <option value="{$v.id}" {if $v.id==$data.grade_id}selected="selected" {/if}>{$v.name} </option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">审核状态：</label>
            <div class="layui-input-inline">
                <select name="verify" id="verify">
                    <option value="1" {if $data.verify=='1' }selected="selected" {/if}>审核通过 </option>
                    <option value="2" {if $data.verify=='2' }selected="selected" {/if}>待审核 </option>
                    <option value="3" {if $data.verify=='3' }selected="selected" {/if}>审核拒绝 </option>
                </select>
            </div>
        </div>
    </div>
    {:jshopToken()}
</form>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form, laydate = layui.laydate;
        form.render();
    });
</script>