<form class="layui-form seller-form" action="">
    <div class="layui-form-item">

        <div class="layui-input-inline ">
            <input type="text" name="order_id" placeholder="订单号" required class="layui-input">
        </div>

        <div class="layui-input-inline ">
            <input type="text" name="user_mobile" placeholder="购买人手机号" required class="layui-input">
        </div>

        <div class="layui-input-inline ">
            <select name="is_settlement">
                <option value="">是否结算</option>
                <option value="2">未结算</option>
                <option value="1">已结算</option>
                <option value="3">已失效</option>
            </select>
        </div>

        <div class="layui-input-inline">
            <input type="text" name="cdate" id="cdate" placeholder="创建时间" autocomplete="off" class="layui-input">
        </div>

        <div class="layui-input-inline">
            <input type="text" name="udate" id="udate" placeholder="更新时间" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline seller-inline-2">
            <button  lay-submit lay-filter="order-search" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon layui-icon-search"></i></button>
        </div>
        <div class="layui-input-right">
            <button class="layui-btn layui-btn-sm layui-btn-primary"   lay-submit lay-filter="export-distribution-order"><i
                    class="iconfont">&#xe6af;</i>导出</button>
        </div>
    </div>
</form>
<div class="table-body">
    <table id="distributionOrderTable" lay-filter="order"></table>
</div>
<div id="exportDistributionOrder" style="display: none;">
    <form class="layui-form export-form" action="">
        <div class="layui-form-item">
            <div class="layui-margin-10">
                <blockquote class="layui-elem-quote layui-text">
                    请先筛选要导出的订单，默认导出全部
                </blockquote>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">任务名称：</label>
                <input type="text" name="taskname" lay-verify="title" style="width:200px;" placeholder="请输入任务名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['table','form','layer','laydate'],function() {
        var layer = layui.layer, table = layui.table, form = layui.form, laydate = layui.laydate;

        //时间插件
        laydate.render({
            elem: '#cdate',
            range: '到',
            format: 'yyyy-MM-dd'
        });
        //时间插件
        laydate.render({
            elem: '#udate',
            range: '到',
            format: 'yyyy-MM-dd'
        });

        //执行渲染
        table.render({
            elem: '#distributionOrderTable', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-220',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            id: 'distributionOrderTable',
            url: "{:get_addon_url('DistributionCenter://Index/order')}",
            cols: [[
                {type: 'numbers'},
                {field: 'user', title: '分销商姓名', align: 'center'},
                {field: 'buy_user', title: '购买用户', align: 'center'},
                {field: 'order_id', title: '订单号', width: 200, align: 'center'},
                {field: 'order_amount', title: '订单金额', align: 'center'},
                {field: 'amount', title: '结算金额', align: 'center'},
                {field: 'is_settlement', sort: true, title: '是否结算', align: 'center',},
                {field: 'ctime', sort: true, title: '创建时间', align: 'center',},
                {field: 'utime', sort: true, title: '更新时间', align: 'center',},
                {fixed: 'right', title: '操作', toolbar: '#distributionTableBar'}
            ]]
        });
        form.on('submit(order-search)', function(data){
            layui.table.reload('distributionOrderTable', {
                where: data.field
                ,page: {
                    curr: 1
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(order)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'cancle') {
                layer.confirm('真的要作废么', {icon: 3}, function (index) {
                    JsPost("{:get_addon_url('DistributionCenter://Index/cancleOrder')}", {id: data.id}, function (res) {
                        if (res.status) {
                            layui.table.reload('distributionOrderTable');
                            layer.close(index);
                        }
                        layer.msg(res.msg);
                    })
                });
            }
        });

        layui.form.on('submit(export-distribution-order)', function (data) {
            layer.open({
                type: 1,
                title: '订单导出',
                area: setpage(400,290), //宽高
                btn: ['确定', '取消'],
                content: $("#exportDistributionOrder").html(),
                yes: function () {
                    //判断是否有选中
                    var filter = $(".seller-form").serialize();
                    $(".export-form:last").append("<input type='hidden' name='filter' value='" + filter + "'>");
                    var data = $(".export-form:last").serializeArray();
                    data.push({ 'name': 'model', 'value': 'DistributionOrder' });
                    JsPost("{:url('manage/Ietask/export')}", data, function (res) {
                            layer.msg(res.msg, { time: 1500 }, function () {
                                if (res.status) {
                                    table.reload();
                                    layer.closeAll();
                                }
                            });
                        }
                    );
                }, btn2: function () {
                    layer.closeAll();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>

<script type="text/html" id="distributionTableBar">
    {{# if (d.is_settlement == '未结算') { }}
    <a class="layui-btn layui-btn-jshop" lay-event="cancle" title="作废"><i class="iconfont">&#xe64b;</i></a>
    {{# }; }}
</script>
