<head>
    <style>
        em{
            color: #dd0000;
        }
    </style>
</head>

<form class="layui-form seller-alone-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">问题类型：<em>*</em></label>
        <div class="layui-input-inline">
            <select id="type" name="quiz1" lay-verify="select1">
                <option  value="" selected="selected">请选择一个类型</option>
                <option value="会员问题" >会员问题</option>
                <option value="订单问题">订单问题</option>
                <option value="其它问题">其它问题</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题：<em>*</em></label>
        <div class="layui-input-block">
            <input id="title" style="width: 300px" type="text"  lay-verify="title"  placeholder="请用一句话简单的说明你遇到的问题" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">问题描述:<em>*</em></label>
        <div class="layui-input-block">
            <textarea id="content" placeholder="请详细填写你所遇到的问题" lay-verify="describe" class="layui-textarea"  style="width: 600px"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px">
        <label class="layui-form-label">手机号码：</label>
        <div class="layui-input-block">
            <input id="phone" style="width: 300px" type="text"   placeholder="请填写一个常用的手机号码，便于联系" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px">
        <label class="layui-form-label">附件上传：</label>
        {Jshop:image id='image_id' name="image_id" value=""/}
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="go">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer;


        form.verify({
            describe:function (value) {
                if(value.length<20){
                    return "描述不得少于20个字符";
                }
                if(value.length>200){
                    return "描述不得大于200个字符";
                }
            },
            select1:function (value) {
                if(value == ''){
                    return '请选择问题类型';
                }

            },
            title:function (value) {
                if(value == ''){
                    return '标题不能为空';
                }
                if(value.length>20){
                    return "标题不能超过20个字符";
                }
            }
        });
        form.on('submit(go)',function (data) {

            $.ajax({
                url: "/index.php/seller/worksheet/addwork",
                type: "post",
                async: false,
                data: {"type": $("#type") .val(), "content": $("#content") .val(),"title":$("#title").val(),"phone":$("#phone").val(),"pic":$("#image_value_image_id").val()},
                success:function (res) {
                    if(res.status){
                        layer.msg("工单已提交，我们会尽快回复您！");
                        setTimeout(function () {
                            window.location.href = "{:url('worksheet/worklist')}";
                        },1500);
                    }else{
                        layer.msg("工单提交失败！");
                    }
                }
            });
            return false;
        });

    });

</script>