{__NOLAYOUT__}
<style>
    em{
        color: #dd0000;
    }
</style>
<form class="layui-form seller-alone-form" action="" method="post">
    <div  style="margin-top: 20px" class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述：<em>*</em></label>
        <div class="layui-input-block">
            <textarea  placeholder="请输入内容"  lay-verify="content"  id="content" class="layui-textarea"></textarea>
        </div>
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">附件：</label>
            <div class="layui-input-block">
                {Jshop:image id='image_id' name="image_id" value=""/}
            </div>
        </div>
        <button  style="position: relative;left:110px;" class="layui-btn">确定提交</button>
    </div>
</form>
<script>
    //渲染表单
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>