<div class="layui-form seller-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm add-store">
                <i class="layui-icon">&#xe608;</i> 提交工单
            </button>
        </div>
    </div>
</div>
<div class="table-body">

        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">全部工单</li>
                <li>未处理</li>
                <li>处理中</li>
                <li>已处理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="table1" lay-filter="table1"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="table2" lay-filter="table2"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-hide" id="table3" lay-filter="table3"></table>
                </div>
            </div>

        </div>

</div>
<script type="text/html" id="barTable">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="barTable1">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail1">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del1">删除</a>
</script>
<script type="text/html" id="barTable2">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail2">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del2">删除</a>
</script>
<script type="text/html" id="barTable3">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail3">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del3">删除</a>
</script>
<script>

    layui.use(['table','laypage'], function(){
        var table = layui.table;

        table.render({
            elem: '#table'
            ,url:'/index.php/seller/worksheet/sheetlist?status='
            ,height: 'full-330'
            ,page: {
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,limits: [8]
            }
            ,cols: [[
                {type: 'numbers'},
                {field:'job_num', width:150, title: '工单号'}
                ,{field:'create_time', width:200, title: '提交时间', sort: true}
                ,{field:'type', width:150, title: '类型'}
                ,{field:'title', title: '标题', width: 250}
                ,{field:'status', width:150, title: '状态', sort: true}
                ,{field:'right', width:180, title: '操作', align:'center', fixed:'right',toolbar: '#barTable',sort: true}

            ]]

        });

        table.render({
            elem: '#table1'
            ,url:'/index.php/seller/worksheet/sheetlist1?status=未处理'
            ,height: 'full-330'
            ,page: {
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,limits: [8]
            }
            ,cols: [[
                {type: 'numbers'},
                {field:'job_num', width:150, title: '工单号'}
                ,{field:'create_time', width:200, title: '提交时间', sort: true}
                ,{field:'type', width:150, title: '类型'}
                ,{field:'title', title: '标题', width: 250}
                ,{field:'status', width:150, title: '状态', sort: true}
                ,{field:'right', width:180, title: '操作', align:'center',  fixed:'right',toolbar: '#barTable1',sort: true}

            ]]

        });
        table.render({
            elem: '#table2'
            ,url:'/index.php/seller/worksheet/sheetlist1?status=处理中'
            ,height: 'full-330'
            ,page: {
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,limits: [8]
                ,first: false
                ,last: false
            }
            ,cols: [[
                {type: 'numbers'},
                {field:'job_num', width:150, title: '工单号'}
                ,{field:'create_time', width:200, title: '提交时间', sort: true}
                ,{field:'type', width:150, title: '类型'}
                ,{field:'title', title: '标题', width: 250}
                ,{field:'status', width:150, title: '状态', sort: true}
                ,{field:'right', width:180, title: '操作', align:'center', fixed:'right', toolbar: '#barTable2',sort: true}

            ]]

        });
        table.render({
            elem: '#table3'
            ,url:'/index.php/seller/worksheet/sheetlist1?status=已处理'
            ,height: 'full-330'
            ,page: {
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,limits: [8]
                ,first: false
                ,last: false
            }
            ,cols: [[
                {type: 'numbers'},
                {field:'job_num', width:150, title: '工单号'}
                ,{field:'create_time', width:200, title: '提交时间', sort: true}
                ,{field:'type', width:150, title: '类型'}
                ,{field:'title', title: '标题', width: 250}
                ,{field:'status', width:150, title: '状态', sort: true}
                ,{field:'right', width:180, title: '操作', align:'center', fixed:'right', toolbar: '#barTable3',sort: true}
            ]]

        });


        table.on('tool(table)', function(obj){
            var data = obj.data;
            console.log(data);
            if(obj.event === 'detail'){
                $(this).attr("href",'/index.php/seller/worksheet/wsdetail?num_id='+data.id);
            } else if(obj.event === 'del'){
                layer.confirm('删除后无法恢复！', function(index){
                    $.ajax({
                        url: "/index.php/seller/worksheet/del",
                        type: "post",
                        async: false,
                        data: {"data": 1,"id":data.id}
                    });
                    obj.del();
                    layer.close(index);
                });

            }
        });
        table.on('tool(table1)', function(obj1){
            var data1 = obj1.data;
            if(obj1.event === 'detail1'){
                $(this).attr("href",'/index.php/seller/worksheet/wsdetail?num_id='+data1.id);
            } else if(obj1.event === 'del1'){
                layer.confirm('删除后无法恢复！', function(index){
                    $.ajax({
                        url: "/index.php/seller/worksheet/del",
                        type: "post",
                        async: false,
                        data: {"data": 1,"id":data1.id}
                    });
                    obj1.del();
                    layer.close(index);
                });

            }
        });
        table.on('tool(table2)', function(obj2){
            var data2 = obj2.data;
            if(obj2.event === 'detail2'){
                $(this).attr("href",'/index.php/seller/worksheet/wsdetail?num_id='+data2.id);
            } else if(obj2.event === 'del2'){
                layer.confirm('删除后无法恢复！', function(index){
                    $.ajax({
                        url: "/index.php/seller/worksheet/del",
                        type: "post",
                        async: false,
                        data: {"data": 1,"id":data2.id}
                    });
                    obj2.del();
                    layer.close(index);
                });

            }
        });
        table.on('tool(table3)', function(obj3){
            var data3 = obj3.data;
            if(obj3.event === 'detail3'){
                $(this).attr("href",'/index.php/seller/worksheet/wsdetail?num_id='+data3.id);
            } else if(obj3.event === 'del3'){
                layer.confirm('删除后无法恢复！', function(index){
                    $.ajax({
                        url: "/index.php/seller/worksheet/del",
                        type: "post",
                        async: false,
                        data: {"data": 1,"id":data3.id}
                    });
                    obj3.del();
                    layer.close(index);
                });

            }
        });

        $(document).on('click','.add-store',function(){
            window.location.href = "{:url('worksheet/add')}";
        });

    });

</script>



