<div style="padding: 30px;" class="layui-form layui-form-pane" lay-filter="add_carouset_seat"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <div class="layui-form-item">
        <label class="layui-form-label seller-inline-2"><i class="required-color">*</i> 名称：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入广告位名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label seller-inline-2"><i class="required-color">*</i> 模板：</label>
        <div class="layui-input-inline seller-inline-4">
            <select name="code" lay-verify="required">
                {foreach $list as $key=>$vo }
                    <option value="{$vo}">{$key}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label seller-inline-2">排序：</label>
        <div class="layui-input-inline seller-inline-2">
            <input type="text" name="sort" required lay-verify="required" value="100" placeholder="请输入顺序" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</div>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>