
.icon-msnui-cloud-download:before { content: "\e639"; }

.icon-shangpin1:before { content: "\e619"; }

.icon-yunshupeisong:before { content: "\e620"; }

.icon-dingdan1:before { content: "\e737"; }

.icon-kuaijieyingyon:before { content: "\e67c"; }

.icon-wuliupeisong:before { content: "\e62b"; }

.icon-peisong2:before { content: "\e6c1"; }

.icon-gonggao:before { content: "\e630"; }

.icon-shouyeshouye:before { content: "\e606"; }

.icon-wechat:before { content: "\e628"; }

.icon-user:before { content: "\e643"; }

.icon-bangzhupeisongfuwu:before { content: "\e64f"; }

.icon-store:before { content: "\e63e"; }

.icon-gongzhonghao:before { content: "\e63f"; }

.icon-tijiao:before { content: "\e624"; }

.icon-baocun:before { content: "\e66c"; }

.icon-review:before { content: "\e6d2"; }

.icon-caozuo:before { content: "\e7b5"; }

.icon-goods:before { content: "\e67b"; }

.icon-daiban:before { content: "\e64a"; }

.icon-zhifu-01:before { content: "\e61b"; }

.icon-tanhao:before { content: "\e61d"; }

.icon-xiazai:before { content: "\e63a"; }

.icon-promotion:before { content: "\e6f8"; }

.icon-chaxun:before { content: "\e607"; }

.icon-mendianguanli:before { content: "\e7bf"; }

.icon-cancel:before { content: "\e6b4"; }

.icon-order:before { content: "\e897"; }

.icon-huiyuan:before { content: "\e8a6"; }

.icon-setting:before,.icon-sellersetting:before { content: "\e602"; }

.icon-shaixuan:before { content: "\e648"; }

.icon-jiahao:before { content: "\e608"; }

.icon-jianhao:before { content: "\e609"; }

.icon-notice:before { content: "\e66b"; }

.icon-billpayments:before { content: "\e67b"; }

.icon-coupon:before { content: "\e6f8"; }