html{
	background-color: #F2F2F2;
}
.mini-content{
	background-color: #fff;
	min-height: 400px;
	max-height: 600px;
	overflow: hidden;
}
.layui-layout-admin .layui-header{
	background-color: #f2f2f2;
	width: 1150px;
	margin: 0 auto;
	overflow: hidden;
}
.state{
	float: right;
    margin-top: 15px;
    color: #666;
    padding: 5px 8px;
    border: 1px solid #FFFF33;
    background-color: #FFFFCC;
}
.login-content{
	width: 1150px;
    background: url(../images/login-bg.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 100px 0;
    min-width: 1150px;
    height:550px;
    box-sizing: border-box;
    margin: 0 auto;
    display: inline-block;
}
.login-content-l{
    display: inline-block;
    height: 550px;
    width: calc(100% / 2 - 1150px / 2);
    float: left;
    /*background: -webkit-linear-gradient(left, rgb(49,167,217), rgb(78,229,235));
    background: -o-linear-gradient(right, rgb(49,167,217), rgb(78,229,235));
    background: -moz-linear-gradient(right, rgb(49,167,217), rgb(78,229,235));
    background: linear-gradient(to right, rgb(49,167,217), rgb(78,229,235));*/
    background-color: rgb(78,229,235);
}
.login-content-r{
    display: inline-block;
    height: 550px;
    width: calc(100% / 2 - 1150px / 2);
    float: right;
    /*background: -webkit-linear-gradient(left, rgb(51,168,220), rgb(78,229,245));
    background: -o-linear-gradient(right, rgb(51,168,220), rgb(78,229,245));
    background: -moz-linear-gradient(right, rgb(51,168,220), rgb(78,229,245));
    background: linear-gradient(to right, rgb(51,168,220), rgb(78,229,245));*/
    background-color: rgb(51,168,220);
}
.login-content-mid{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.layui-container{
	background-color: #fff;
	padding: 20px;
	padding-top: 5px;
	width: 400px;
	float: right;
}
.login-header{
    text-align: center;
    padding: 0 0 15px;
    border-bottom: 1px solid #eee;
    color: #333;
}
.layui-tab-content{
	padding: 10px 0 ;
	width: 60%;
	min-width: 360px;
	display: inline-block;
}
.login-content .layui-btn-fluid{
	width: 280px;
	margin-left: 50px;
}
.login-b{
    padding-left: 42px;
}
.layui-form-item{
	margin-bottom: 25px;
}
.layui-form-item:last-child{
    margin-bottom: 0;
}
.layui-form-item .layui-input-inline{
	width: 220px;
}
.logo{
	display: inline-block;
}
@media screen and (max-width: 450px){
	.layui-form-item .layui-input-inline{
		display: inline-block;
		margin: 0;
		left: -1px;
	}
	.layui-form-item .layui-input-inline+.layui-form-mid{
		display: inline-block;
		margin: 0;
		top: 0;
		float: right;
		right: 85px;
	}
}
.identifying-code .layui-input-inline{
	width: 225px;
}
.identifying-code .layui-input-inline .layui-input{
	width: 109px;
	display: inline-block;
}
.identifying-code .layui-input-inline #btn{
	position: relative;
	top: -1px;
}
.login-footer{
	width: 1150px;
	margin: 20px auto 0;
	text-align: center;
	
}
.login-footer a{
	font-size: 12px;
	color: #666;
    text-decoration: none;
    margin: 0 10px;
}
.copyright{
	margin-top: 10px;
	font-size: 12px;
	color: #666;
}
.reg-content{
	width: 400px;
	margin-left: 500px;
}