.layui-nav>.manage {
    margin-right: 10px;
}

.layui-layout-admin>.layui-nav>.layui-nav-item>.layui-nav-child {
    top: 60px;
    left: 16px;
    z-index: 1000;
}

.layui-breadcrumb {
    height: 25px;
    line-height: 25px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    display: block;
}
.layui-fluid .layui-breadcrumb{
	visibility: inherit;
}
.layui-breadcrumb a {
    color: #444 !important;
}

.iconfont {
    font-size: 20px !important;
    margin-right: 10px;
}

.layadmin-shortcut li .iconfont {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px !important;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.layadmin-shortcut li .iconfont:hover {
    background-color: #f2f2f2;
}

.layui-btn>.iconfont {
    margin-right: 4px;
    float: left;
    font-size: 14px !important;
}

.layadmin-shortcut li {
    text-align: center;
}

.layadmin-shortcut li .layui-icon {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    background-color: #F8F8F8;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s;
}

/*.layadmin-backlog .layadmin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layadmin-backlog-body h3 {
    font-size: 12px;
    margin: 0;
}
.layadmin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688;
}

.layadmin-backlog-body:hover {
    background-color: #f2f2f2;
    color: #888;
}
.layadmin-shortcut li:hover .layui-icon {
    background-color: #f2f2f2;
}
.layadmin-backlog-body p{
	line-height: 1.35;
	margin: 0;
}
*/

.seller-form, .layui-table-box, .layui-table-view, .seller-alone-form {
    background-color: #fff;
}

.seller-form {
    padding: 10px 10px 0 10px;
}

.seller-alone-form {
    padding: 10px;
    overflow-y: auto;
    height:100%;
    box-sizing: border-box;
}

.layui-form-item .seller-inline-1 {
    width: 50px;
}

.layui-form-item .seller-inline-2 {
    width: 100px;
}

.layui-form-item .seller-inline-3 {
    width: 150px;
}

.layui-form-item .seller-inline-4 {
    width: 200px;
}

.layui-form-item .seller-inline-5 {
    width: 250px;
}

.layui-form-item .seller-inline-6 {
    width: 300px;
}

.layui-form-item .seller-inline-7 {
    width: 350px;
}

.layui-form-item .seller-inline-8 {
    width: 400px;
}

.layui-form-item .seller-inline-9 {
    width: 450px;
}

.layui-form-item .seller-inline-10 {
    width: 500px;
}

/*.layui-card .layui-table{
	margin: 1px 0;
}
.layui-card .layui-table td,.layui-card .layui-table th{
	padding: 7px 10px;
}
.layui-card .layui-table td i{
	width: 18px;
	height: 18px;
	background-color: #fc6d26;
	display: inline-block;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	font-style: normal;
	margin-right: 10px;
}*/

.layui-card .layui-table tr:last-child td i {
    background-color: #ccc;
}

.layui-card .layui-table tr:nth-last-child(2) td i {
    background-color: #ccc;
}

.layui-inline .layui-input-block {
    margin-left: 30px;
}

.seller-form .layui-form-item {
    margin-bottom: 0;
}

.seller-form .layui-form-item .layui-inline {
    margin-bottom: 10px;
}

.table-body {
    background-color: #fff;
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
}

.layui-footer {
    text-align: center;
    background-color: #E1E1E1 !important;
}

.layui-footer a {
    display: inline-block;
    color: #20a53a;
}

.layui-footer p {
    display: inline-block;
    margin-right: 10px;
}

.layui-form-pane .layui-form-label {
    border: none;
    background-color: #fff;
    text-align: right;
    padding: 8px 13px;
}

.warning-msg {
    font-size: 12px;
}

.warning-msg-content {
    background-color: #FFFFCC;
    border: 1px solid #FFFF33;
    padding: 10px;
    margin-bottom: 15px;
    color: #666;
}

.warning-msg-content i {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    color: red;
}

.warning-msg-content p {
    display: inline-block;
}

.warning-msg-content a {
    color: #20a53a;
}

.warning-msg-content a:hover {
    color: #23527c;
}

.seller-alone-form .layui-elem-field legend {
    font-size: 16px;
}

.seller-alone-form .layui-form-item {
    margin-bottom: 0;
    font-size: 12px;
}

.seller-alone-form .order-ship-btn {
    margin: 0 auto;
    margin-top: 25px;
    display: block;
}

.seller-alone-form .layui-input {
    margin-bottom: 10px;
}

.seller-alone-form .layui-btn-fluid {
    width: 50%;
}

.seller-alone-form .layui-tab-content {
    padding: 10px;
}

.seller-alone-form .add-save-btn {
    width: 100%;
}

.required-color {
    color: red;
}

.select-address {
    display: inline-block !important;
    width: 30%;
    margin-right: 2%;
    padding: 9px 0px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.address-class select:nth-last-child(2) {
    margin-right: 0 !important;
}

.block-content {
    margin: 0 auto;
    padding: 20px 0;
    width: 1000px;
}

.select_seller_brands_box .icon-choose1, .select_seller_goods_box .icon-choose1 {
    margin-top: 1px;
}

.sellect_seller_brands_list li, .sellect_seller_goods_list li {
    background-color: #f9f9f9;
    padding: 4px;
    margin: 4px;
}

.sellect_seller_brands_list li span, .sellect_seller_goods_list li span {
    color: #FF0000;
    margin-right: 7px;
    cursor: pointer;
}

.list-tag {
    float: right;
    margin-right: 0;
}

/**
超级链接定义样式
*/

.link-hot {
    color: #009688;
    cursor: pointer;
}

/*微信公众号页面*/

.wechat-content {
    background-color: #fff;
    margin-top: 10px;
    min-width: 1000px;
    border: 1px solid #e6e6e6;
}

.wechat-body {
    padding: 10px 10px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.wechat-body-l {
    display: inline-block;
    float: left;
}

.we-body-c {
    width: 340px;
    height: 600px;
    background: url(../images/wechat-bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.we-body-c.we-body-tabbar {
    width: 340px;
    height: 600px;
    background: url(../images/model-title.png) no-repeat;
    background-size: 340px 78px;
    position: relative;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 10px #dcdcdc;
}

.we-body-bot {
    width: 100%;
    padding-left: 41px;
    box-sizing: border-box;
    height: 44px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.we-body-tabbar .we-body-bot {
    padding-left: 0;
}
.we-body-tabbar .we-body-ul {
    border-top: 1px solid #e7e7eb;
}
.we-body-ul {
    display: flex;
}

.we-body-ul>li {
    float: left;
}

.we-body-ul li {
    box-sizing: border-box;
    position: relative;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 44px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    list-style: none;
    border: 1px solid transparent;
    border-right: 1px solid #e7e7eb;
}

.li-menu {
    position: absolute;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    display: block;
    bottom: 60px;
    width: 95%;
    background-color: #fafafa;
}

.li-menu li {
    border-bottom: 1px solid #d0d0d0;
}

.wechat-body-r {
    display: inline-block;
    margin-left: 20px;
    border: 1px solid #e6e6e6;
    width: 550px;
    height: 600px;
    box-sizing: border-box;
    float: left;
}

.we-body-r-head {
    background-color: #e6e6e6;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: ;
}

.we-body-r-head a {
    float: right;
    font-size: 14px;
    color: #009688;
}

.we-body-r-c {
    padding: 5px;
}

.wechat-btn {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* 报表页面样式 */

.report_table_bar {
    text-align: right;
}

.report_table_bar span {
    cursor: pointer;
}

/*新目标样式*/

.layui-layout-admin .layui-body {
    margin-bottom: 44px;
}

.layui-layout-admin .layui-footer {
    padding: 0;
}

.layui-nav-tree .layui-nav-bar {
    background-color: #FF7159 !important;
}

.layui-btn {
    background-color: #FF7159 !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #FF7159 !important;
}

.layui-btn-primary {
    border-color: #FF7159;
    color: #fff;
}

.layui-btn-primary:hover {
    border-color: #FF7159;
    color: #fff;
}

.layui-btn-danger {
    background-color: #393D49 !important;
}

/* 移动端上传图片弹框修改 */

@media screen and (max-width: 500px) {
    .edui-default .edui-for-insertimage .edui-dialog-content {
        width: 400px!important;
        height: 380px!important;
        overflow: hidden!important;
    }
    /*wordImage-dialog*/
    .edui-default .edui-for-wordimage .edui-dialog-content {
        width: 400px!important;
        height: 380px!important;
        overflow: hidden!important;
    }
}

.have-add .layui-form-switch,.have-add-td .layui-form-switch{
	margin-top: 0;
}
.help-tip{
	float: right;
}
.icon-wenhao{
	color: #9e9e9e;
	font-size: 16px !important;
	position: relative;
	top: 11px;
}
.layui-layer layui-layer-tips{
	
}