<style>
    @media screen and (max-width: 500px) {
        .layui-table-view {
            width: 100% !important;
            overflow-x: scroll !important;
            left: 0 !important;
        }
        .layui-table-box {
            width: 1200px !important;
            box-sizing: border-box;
        }
        .layui-layer.layui-layer-page {
            width: 100% !important;
            overflow: hidden !important;
            left: 0 !important;
        }
        .layui-layer-title {
            width: 100% !important;
            box-sizing: border-box;
        }
        .layui-layer-content {
            width: 100% !important;
        }
    }
    .w100 {
        width: 100px !important;
    }
    .seller-form .layui-form-label {
        width: 100px;
    }
</style>
<form class="layui-form seller-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">退货单号：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="reship_id" lay-verify="title" placeholder="请输入退货单号" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">订单号：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="order_id" lay-verify="title" placeholder="请输入订单号" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">下单时间：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="date" id="date" placeholder="开始时间 到 结束时间" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label  class="layui-form-label">用户手机号：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="mobile" lay-verify="title" placeholder="请输入手机号码" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">退货状态：</label>
            <div class="layui-input-inline seller-inline-3">
                <select name="status" lay-verify="">
                    <option value=""></option>
                    <option value="1">待退货</option>
                    <option value="2">运输中</option>
                    <option value="3">已收退货</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">物流单号：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="logi_no" lay-verify="title" placeholder="请输入物流单号" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="*"><i
                    class="iconfont icon-chaxun"></i>筛选</button>
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="export-reship"><i
                    class="iconfont icon-msnui-cloud-download" style="font-size: 20px !important;"></i>导出</button>
        </div>
    </div>
</form>

<div class="table-body">
    <table id="billReship" lay-filter="test"></table>
</div>
<div id="exportReship" style="display: none;">
    <form class="layui-form export-form" action="">
        <div class="layui-form-item">
            <div class="layui-margin-10">
                <blockquote class="layui-elem-quote layui-text">
                    请先选中或筛选要导出的订单
                </blockquote>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">任务名称：</label>
                <input type="text" name="taskname" lay-verify="title" style="width:200px;" placeholder="请输入任务名称"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate', 'table'], function () {
        //时间插件
        layui.laydate.render({
            elem: '#date',
            range: '到',
            format: 'yyyy-MM-dd',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
        layui.table.render({
            elem: '#billReship',
            height: 'full-139',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            url: "{:url('billReship/index')}?_ajax=1",
            id: 'billReship',
            cols: [[
                { type: 'checkbox' },
                { field: 'reship_id', width: 140, sort: true, title: '退货单号', align: 'center' },
                { field: 'order_id', width: 140, title: '订单号', align: 'center' },
                { field: 'user_id', width: 130, title: '用户', align: 'center' },
                { field: 'status_name', width: 100, title: '状态', align: 'center' },
                { field: 'logi_code', title: '物流公司', align: 'center' },
                { field: 'logi_no', title: '物流单号', align: 'center' },
                { field: 'ctime', width: 170, title: '创建时间', align: 'center' },
                { field: 'utime', width: 170, title: '更新时间', align: 'center' },
                {
                    field: 'operating', title: '操作', width: 140, align: 'center', templet: function (data) {
                        var html = '';
                        html += '<a class="layui-btn layui-btn-xs option-view layui-btn-primary" data-id="' + data.reship_id + '">明细</a>';
                        if (data.status === 1) {
                            html += '<a class="layui-btn layui-btn-xs option-reship" data-id="' + data.reship_id + '">退货</a>';
                        }else if (data.status === 2) {
                            html += '<a class="layui-btn layui-btn-xs option-audit" data-id="' + data.reship_id + '">确认收货</a>';
                        }
                        return html;
                    }
                },
            ]]
        });
        layui.form.on('submit(*)', function (data) {
            layui.table.reload('billReship', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //确认收货操作
        $(document).on('click', '.option-audit', function () {
            JsGet("{:url('billReship/confirmReship')}?reship_id=" + $(this).attr('data-id'), function(e){
                if (e.status) {
                    layer.msg('确认收货成功', { time: 1500 }, function () {
                        layui.table.reload('billReship');
                    });
                } else {
                    layer.msg(e.msg);
                }
            });
        });
        $(document).on('click', '.option-reship', function () {
            let reship_id = $(this).attr('data-id');
            JsGet("{:url('billReship/reship')}?reship_id=" + reship_id, function(e){
                if (e.status) {
                    layer.open({
                        type: 1,
                        content: e.data,
                        area: setpage(800, 600), //宽高
                        title: '填写退货物流信息',
                        btn: ['确认', '取消'],
                        yes: function (index, layero) {
                            var formData=layui.form.val('reship_data');
                            formData['reship_id'] = reship_id;
                            JsPost("{:url('billReship/reship')}", formData, function (res) {
                                if (res.status) {
                                    layer.msg('填写退货信息成功', { time: 1000 }, function () {
                                        layer.closeAll();
                                        layui.table.reload('billReship');
                                    });
                                } else {
                                    layer.msg(res.msg);
                                }
                            });
                        }
                    });

                } else {
                    layer.msg(e.msg);
                }
            });
            return false;
        });
        //查看操作
        $(document).on('click', '.option-view', function () {
            JsGet("{:url('billReship/view')}?reship_id=" + $(this).attr('data-id'), function(e){
                if (e.status) {
                    window.box = layer.open({
                        type: 1,
                        content: e.data,
                        area: setpage(600,400),
                        title: '退货单查看'
                    });
                } else {
                    layer.msg(e.msg);
                }
            });
        });
        //退货单导出
        layui.form.on('submit(export-reship)', function (data) {
            layer.open({
                type: 1,
                title: '退货单导出',
                area: setpage(400,290), //宽高
                btn: ['确定', '取消'],
                content: $("#exportReship").html(),
                yes: function () {
                    //判断是否有选中
                    var checkStatus = layui.table.checkStatus('billReship');
                    var checkData = checkStatus.data;
                    var length = checkStatus.data.length;
                    var ids = [];
                    if (length) {
                        $.each(checkData, function (i, obj) {
                            ids.push(obj.reship_id);
                        });
                    }

                    //判断是否有选中
                    var filter = $(".seller-form").serialize();
                    filter += '&ids=' + ids;
                    $(".export-form:last").append("<input type='hidden' name='filter' value='" + filter + "'>");
                    var data = $(".export-form:last").serializeArray();

                    data.push({ 'name': 'model', 'value': 'BillReship' });

                    JsPost("{:url('Ietask/export')}", data, function (res) {
                        layer.msg(res.msg, { time: 1500 }, function () {
                            if (res.status) {
                                layui.table.reload('billReship');
                                layer.closeAll();
                            }
                        });
                    }
                    );
                }, btn2: function () {
                    layer.closeAll();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>