
<form class="layui-form seller-form" action="">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">用户：</label>
			<!-- <div class="layui-input-inline seller-inline-3"> -->
			<div class="layui-input-inline">
				<input type="text" name="username" placeholder="请输入用户名、昵称、手机号" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">兑换时间：</label>
			<div class="layui-input-inline">
				<input type="text" name="date" id="date" placeholder="开始时间 到 结束时间" autocomplete="off"
					   class="layui-input">
			</div>
		</div>

		<div class="layui-inline" id="layui--group-container">
			<button class="layui-btn layui-btn-sm" lay-submit lay-filter="*"><i
					class="iconfont icon-chaxun"></i>筛选</button>
			<button type="reset" class="layui-btn layui-btn-sm">重置</button>
		</div>
	</div>
</form>
<div class="table-body">
	<table id="hbTable" lay-filter="test"></table>
</div>
<script>
    var table;
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        var form = layui.form;
		//时间插件
		layui.laydate.render({
			elem: '#date',
			range: '到',
			format: 'yyyy-MM-dd',
			trigger: 'click' //自动弹出控件的事件，采用click弹出
		});
        table = layui.table.render({
            elem: '#hbTable',
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            url: "{:get_addon_url('WeRun://index/log')}?_ajax=1",
            id:'hbTable',
            cols: [[
				{field:'id', width:200,title:'ID', align: 'center'},
				{field:'ninkname', width:200,title:'用户昵称', align: 'center',templet:function(data){
                    return data.username + '('+data.user_id+')';
                }},

				{field:'steps', title:'运动步数', align: 'center'},
				{field:'points', title:'兑换积分', align: 'center'},
				{field:'date_str', width:200,title:'日期范围', align: 'center'},
				{field:'ctime', width:200,title:'兑换时间', align: 'center'}
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('hbTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });



</script>