<div style="padding: 30px;" class="layui-form seller-alone-form">

    <input type="hidden" name="id" value="{$data.id}">

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i> 品牌名称：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入品牌名称" autocomplete="off" class="layui-input" value="{$data.name}">
        </div>
    </div>

    <div class="layui-form-item layui-upload">    	
    	<label class="layui-form-label"><i class="required-color">*</i> LOGO：</label>
    	<div class="layui-input-inline seller-inline-4">
        	{Jshop:image id='logo' name="logo" value="$data['logo']"/}
    	</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="sort" required lay-verify="required" placeholder="数值越小越靠前" autocomplete="off" class="layui-input" value="{$data.sort}">
        </div>
    </div>

    <button class="layui-btn layui-btn-fluid add-save-btn" lay-submit lay-filter="brand-edit">保存</button>

</div>

<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>