<div class="layui-form seller-form">
	<div class="layui-form-item">
		<div class="layui-inline">
			<a class="layui-btn layui-btn-sm add-ship" href="{:url('Ship/add')}">
				<i class="layui-icon">&#xe608;</i> 添加
			</a>
		</div>
	</div>
</div>
<div class="table-body">
	<table id="shipTable" lay-filter="shipTable"></table>
</div>
<script>
    layui.use(['table','form','layer','laydate'],function(){
        var layer = layui.layer, table = layui.table,form = layui.form,date = layui.laydate;
        //执行渲染
        table.render({
            elem: '#shipTable', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            id:'shipTable',
            url: "{:url('ship/index')}",
            cols: [[
				{field:'id', width:90, title:'ID', align: 'center'},
                {field: 'name', title: '配送方式名称',align:'center'},
                {field: 'logi_name',title: '物流公司名称',align:'center'},
                {field: 'logi_code',title: '物流公司编码',align:'center'},
				{field: 'has_cod', title: '是否货到付款',width: 120,align:'center'},
				{field: 'free_postage',title: '是否包邮',width: 90,align:'center'},
                {field: 'is_def',title: '是否默认',width: 90,align:'center'},
                {field: 'status',title: '状态',width: 80,align:'center'},
                {field: 'sort',title: '排序', width: 80,align:'center'},
                {width:140, title:'操作',align:'center', toolbar:'#shipBar'}
            ]]
        });
        date.render({
            elem:'#utime',
            range: '~',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
        form.on('submit(ship-search)', function(data){
            layui.table.reload('shipTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //监听工具条
        table.on('tool(shipTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'del'){ //删除
                layer.confirm('真的要删除么',{icon: 3,title:'提示'}, function(index){
                    JsPost("{:url('ship/del')}",{id:data.id},function (res) {
                        if(res.status == true){
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);//向服务端发送删除指令
                            layer.msg("删除成功", {icon: 6});
                        }else{
                            layer.msg(res.msg, {icon: 5});
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
				window.location.href="{:url('ship/edit')}?id="+data.id;
            }
        });

    })
</script>
<script type="text/html" id="shipBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
