<style>
    .layui-form-label{
        width: 100px;
    }
    .order-edit-btn{
        margin: 0 auto;
        display: block;
        margin-top: 25px;
    }
</style>
<form class="layui-form seller-alone-form" id="editinfo">
    <div class="layui-form-item" lay-size="sm">
        <input type="hidden" id="invoice_id" value="{$info.id}">
        <label class="layui-form-label">资源类型：</label>
        <div class="layui-form-mid seller-inline-3">{$info.class}</div>

        <label class="layui-form-label">资源ID：</label>
        <div class="layui-form-mid seller-inline-4">{$info.source_id}</div>
    </div>
    <div class="layui-form-item" lay-size="sm">
        <label class="layui-form-label">发票类型：</label>
        <div class="layui-input-inline seller-inline-3">
            <select name="tax_type" id="tax_type">
                <option value="2" {if $info.type == 2}selected{/if}>个人发票</option>
                <option value="3" {if $info.type == 3}selected{/if}>企业发票</option>
            </select>
        </div>

        <label class="layui-form-label">发票抬头：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" value="{$info.title}" name="tax_title" id="tax_title" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" lay-size="sm">
        <label class="layui-form-label">发票金额：</label>
        <div class="layui-input-inline seller-inline-3">
            <input type="text" value="{$info.amount}" name="amount" id="amount" class="layui-input">
        </div>

        <label class="layui-form-label">发票税号：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" value="{$info.tax_number}" name="edit_tax_number" id="edit_tax_number" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" lay-size="sm">
        <label class="layui-form-label">开票状态：</label>
        <div class="layui-input-inline seller-inline-3">
            <select name="tax_status" id="tax_status">
                <option value="1" {if $info.status == 1}selected{/if}>未开票</option>
                <option value="2" {if $info.status == 2}selected{/if}>已开票</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" lay-size="sm">
        <label class="layui-form-label">发票备注：</label>
        <div class="layui-input-inline" style="width: 490px;">
            <textarea name="remarks" id="remarks" class="layui-input" style="height: 82px;padding-top: 10px; padding-bottom: 10px">{$info.remarks}</textarea>
        </div>
    </div>
    {:jshopToken('invoice_edit')}
    <button class="layui-btn layui-btn-fluid invoice-edit-btn" style="margin: 30px auto 0;display: block;">保存</button>
</form>

<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>