<form class="layui-form seller-form"  action="" >
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">手机号码：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="mobile" lay-verify="title" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">店铺类型：</label>
            <div class="layui-input-inline seller-inline-2" >
                <select name="store_type" lay-verify="">
                    <option value=""></option>
                    <option value="1">共享店铺</option>
                    <option value="2">普通店铺</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商户名称：</label>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="seller_name" lay-verify="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-inline seller-inline-3">
                <select name="status" lay-verify="">
                    <option value=""></option>
                    <option value="1">正常</option>
                    <option value="2">待审核</option>
                    <option value="3">审核失败</option>
                    <option value="4">默认未提交</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">店铺等级：</label>
            <div class="layui-input-inline seller-inline-3">
                <select name="level" lay-verify="">
                    <option value=""></option>
                    <option value="1">普通</option>
                    <option value="2">中级</option>
                    <option value="3">高级</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
	        <div class="layui-input-block">
	            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*"><i class="iconfont icon-chaxun"></i>筛选</button>
	        </div>
        </div>
    </div>
</form>

<div class="table-body">
    <table id="userTable" lay-filter="test"></table>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        layui.table.render({
            elem: '#userTable',
            height: 'full-220',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            url: "{:url('seller/index')}?_ajax=1",
            id:'userTable',
            cols: [[
                {type:'numbers'},
                {field:'token', width:100,title:'token'},
                {field:'mobile', width:140,title:'关联用户账号'},
                {field:'store_type',width:100,title:'店铺类型'},
                {field:'seller_name',width:150,title:'商户名称'},
                {field:'address',width:200,title:'地址'},
                {field:'expire_date',width:120,title:'到期时间'},
                {field:'level',width:100,title:'店铺等级'},
                {field:'status',width:100,title:'店铺状态'},
                {field:'ctime',width:120,title:'创建时间'},
                {field:'utime',width:120,title:'更新时间'},
                {field: 'operating', title: '操作', width:100, align: 'center',fixed: 'right',templet:function(data){
                    var html = '';
                    html += '<a  class="layui-btn layui-btn-xs layui-btn-primary" href="{:url('Seller/edit')}?id='+data.id+'">查看</a>';
                    return html;
                }},
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('userTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
