<form class="layui-form  seller-alone-form" id="add" style="padding:20px;">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">楼层名称：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="name" required  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">关键词：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="keyword" required  class="layui-input" placeholder="">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="sort" value="100" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>商品列表：</label>
        <div class="layui-input-inline seller-inline-5">
            <div>
                <a href="javascript:;"  id="goods" name="goods" class="layui-btn layui-btn-primary layui-btn-sm" onclick="goods_list()"><i class="iconfont icon-choose1"></i>选择商品</a>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn "  lay-submit lay-filter="save">保存</button>
            <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
        </div>
    </div>
</form>
<script>
    layui.use(['form','table','laydate'], function() {
        var form = layui.form, table = layui.table;
        $(document).on('click','.dele',function(){
            $(this).parent().remove();
        });
        //保存
        form.on('submit(save)', function(data){
            formData = data.field;
            if(!formData){
                layer.msg('请先完善数据', {time: 1300});
                return false;
            }
            $.ajax({
                url: "{:get_addon_url('Pc://PcFloor/add')}",
                type: 'post',
                data: formData,
                dataType: 'json',
                success: function(e){
                    console.log(e);
                    if(e.status === true){
                        layer.msg(e.msg, {time: 1300}, function(){
                            window.location.href= "{:get_addon_url('Pc://PcFloor/index')}";
                        });
                    }else{
                        layer.msg(e.msg, {time: 1300});
                    }
                }
            });
            return false;
        });
    });
    function goods_list()
    {
        JsGet("{:get_addon_url('Pc://PcFloor/getGoods')}",function(e){
            window.box = layer.open({
                type: 1,
                content: e,
                area: ['700px', '450px'],
                title:'商品列表',
                btn: ['确定','取消'],
                yes: function(){
                    $(".goods").remove();
                    for(var i in ids){
                        var div = '<div class="goods"><li class="dele"><span style="color: red;cursor: pointer" id="goods'+ i+'"' +'>×  </span>' + ids[i]["name"]+ '</li>';
                        div +=' <input type="hidden" name="goods['+ i + ']" value=""></div>';
                        $("#goods").after(div);
                    }
                    layer.closeAll();
                }
            });
        });
    }
</script>
