<form style="padding:30px;" class="layui-form  seller-alone-form hbaddForm">
    <input type="hidden" value="{$info.id}" name="id" />
    <div class="layui-form-item">
        <label class="layui-form-label">推荐人ID：</label>
        <div class="layui-input-block">
            {Jshop:selectuser value="$info.user_id" id="user_id" grade="" num="100" name="user_id" /}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>发放总金额：</label>
        <div class="layui-input-inline seller-inline-2">
            <input type="text" name="money_all"  placeholder="请输入名称" value="{$info.money_all}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">分，单个推荐人的总放款金额</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><i class="required-color">*</i>红包金额：</label>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="money_start" placeholder="起始金额" value="{$info.money_start}" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="money_end" placeholder="结束金额" value="{$info.money_end}" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">分</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>场景值：</label>
        <div class="layui-input-inline seller-inline-3">
            <select name="scene_id">
                <option value="1" {if $info['scene_id'] == '1'}selected=""{/if}>商品促销</option>
                <option value="2" {if $info['scene_id'] == '2'}selected=""{/if}>抽奖</option>
                <option value="3" {if $info['scene_id'] == '3'}selected=""{/if}>虚拟物品兑奖</option>
                <option value="4" {if $info['scene_id'] == '4'}selected=""{/if}>企业内部福利</option>
                <option value="5" {if $info['scene_id'] == '5'}selected=""{/if}>渠道分润</option>
                <option value="6" {if $info['scene_id'] == '6'}selected=""{/if}>保险回馈</option>
                <option value="7" {if $info['scene_id'] == '7'}selected=""{/if}>彩票派奖</option>
                <option value="8" {if $info['scene_id'] == '8'}selected=""{/if}>税务刮奖</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">和微信支付里的红包场景值配置对应即可。</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>起止时间：</label>
        <div class="layui-input-inline seller-inline-6">
            {if $info}
            <input id="date"  type="text" name="date" value="{:getTime($info['date_start'])} 到 {:getTime($info['date_end'])}" id="date" placeholder="请输入起止时间" autocomplete="off" class="layui-input">
            {else /}
            <input id="date"  type="text" name="date" value="" id="date" placeholder="请输入起止时间" autocomplete="off" class="layui-input">
            {/if}

            </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>范围：</label>
        <div class="layui-input-block">
            <!--<input type="radio" name="type" value="m" title="模块" {if $info.type == 'm'} checked=""{/if}>-->
            <input type="radio" name="type" value="2" title="新用户" {if $info.type == '2'} checked=""{/if}>
            <input type="radio" name="type" value="1" title="所有用户"  {if $info.type == '1'} checked=""{/if} >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">注意：</label>
        <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux" style="padding:0!important;margin-top:8px;">1.红包起始金额必须大于等于100分，结束金额必须大于等于起始金额，然后实际红包金额会在这个范围之间取一个随机数。</div>
            <div class="layui-form-mid layui-word-aux" style="padding:0!important;">2.此功能是通过微信公众号发放的，所以只限于微信公众号内使用和领取</div>
            <div class="layui-form-mid layui-word-aux" style="padding:0!important;">3.用户可以不选择，不选择就相当于所有用户的券都可以领</div>
        </div>
    </div>
    {:jshopToken()}
</form>
<script>
    layui.use(['form','laydate'], function(){
        //时间插件
        layui.form.render();
        layui.laydate.render({
            elem: '#date',
            range: '到',
            type: 'datetime',
            trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
    });
</script>