<style>
    .layui-btn .layui-icon{
        margin-right: 0;
    }
    .layui-layer-page .layui-layer-content{
        overflow: initial;
    }
</style>
<form class="layui-form seller-form"  action="" >
	<div class="layui-form-item">
		<div class="layui-inline">
			<div class="layui-input-inline seller-inline-2">
				<input type="text" name="hb_id" lay-verify="title" placeholder="红包批次" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline seller-inline-4">
				<input type="text" name="user_name" lay-verify="title" placeholder="扫码人手机号码或账号" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline seller-inline-4">
				<input type="text" name="tj_user_name" lay-verify="title" placeholder="推荐人手机号码或账号" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline seller-inline-6">
				<input  type="text" name="date" value="" id="date" placeholder="请选择领取时间" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<button class="layui-btn layui-btn-sm" lay-submit lay-filter="*"><i class="iconfont icon-chaxun"></i>筛选</button>
		</div>
		<div class="layui-inline">
			<a onclick="window.history.back();" href="#" class="layui-btn add-class layui-btn-sm">返回</a>
		</div>
	</div>
</form>
<div class="table-body">
	<table id="hbTable" lay-filter="test"></table>
</div>
<script>
    var table;
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        var form = layui.form;

		//时间插件
		layui.laydate.render({
			elem: '#date',
			range: '到',
			type: 'datetime',
			trigger: 'click' //自动弹出控件的事件，采用click弹出
		});

        table = layui.table.render({
            elem: '#hbTable',
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            url: "{:get_addon_url('WelfarePro://index/hblog')}?_ajax=1",
            id:'hbTable',
            cols: [[
				{field:'id', width:90, title:'ID', align: 'center'},
				{field:'hb_id', title:'红包批次', align: 'center'},
				{field:'user_id',title:'扫码人', align: 'center'},
				{field:'tj_user_id',title:'推荐人', align: 'center'},
				{field:'money',title:'红包金额(分)', align: 'center'},
				{field:'ctime',title:'领取时间', align: 'center'}
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('hbTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });



</script>