<style>
    .layui-btn .layui-icon{
        margin-right: 0;
    }
    .layui-layer-page .layui-layer-content{
        overflow: initial;
    }
</style>
<form class="layui-form seller-form" action="">
	<div class="layui-form-item">
		<div class="layui-inline">
			<button class="layui-btn add-class layui-btn-sm"><i class="layui-icon">&#xe608;</i> 添加</button>
		</div>
		<div class="layui-inline">
			<a href="{:get_addon_url('WelfarePro://index/hblog')}" class="layui-btn layui-btn-sm hblog_class"  ><i class="iconfont icon-msnui-cloud-download" style="font-size: 20px !important;"></i>领取记录</a>
		</div>
	</div>
</form>
<div class="table-body">
	<table id="hbTable" lay-filter="test"></table>
</div>
<script>
    var table;
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        var form = layui.form;

        table = layui.table.render({
            elem: '#hbTable',
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            url: "{:get_addon_url('WelfarePro://index/index')}?_ajax=1",
            id:'hbTable',
            cols: [[
				{field:'id', width:90, title:'批次', align: 'center'},
				{field:'user_id',title:'推荐人ID', align: 'center'},
				{field:'money_all', width:150,title:'单人总发放量(分)', align: 'center'},
                {field:'money_start', width:200,title:'红包金额(分)', align: 'center',templet:function(data){
                	return data.money_start + "-" + data.money_end;
					}},
				{field:'date_start', width:200,title:'开始时间', align: 'center'},
				{field:'date_end', width:200,title:'结束时间', align: 'center'},
				{field:'type_name', width:100,title:'目标群体', align: 'center'},
				{field:'scene_id', width:120,title:'场景值', align: 'center'},
                {field:'operating',title:'操作',templet:function(data){
                    var html='';
                    var html = '<a  class="layui-btn layui-btn-xs option-edit" data-id="' + data.id + '">编辑</a>';
                    html += '<a class="layui-btn layui-btn-danger layui-btn-xs option-del" data-name="'+data.name+'" data-id="' + data.id + '">删除</a>';
                    return html;
                }, align: 'center', width: 140}
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('userTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });


        //添加
        $(document).on('click', '.add-class', function(){
            JsGet("{:get_addon_url('WelfarePro://index/hbadd')}", function(tpl){
				if(tpl.status){
					layer.open({
						type: 1,
						area: setpage(600,500),
						data:'',
						title: '添加',
						content: tpl.data,
						btn:['保存','关闭'],
						yes:function (index,layero) {
							var thedata = $('.hbaddForm').serialize();
							JsPost("{:get_addon_url('WelfarePro://index/hbadd')}",thedata,function (re) {
								if(re.status){
									layer.msg('保存成功');
									layer.close(index);
									//userTables.reload();
									layui.table.reload('hbTable');
								}else{
									layer.msg(re.msg);
								}
							});
						}
					});
				}else{
					layer.msg(tpl.msg);
				}
			});
            return false;
        });

		//编辑
		$(document).on('click','.option-edit',function(){
			var id = $(this).attr('data-id');
			JsGet("{:get_addon_url('WelfarePro://index/hbadd')}?id="+id, function(tpl){
				if(tpl.status){
					layer.open({
						type: 1,
						area: setpage(600,500),
						data:'',
						title: '编辑',
						content: tpl.data,
						btn:['保存','关闭'],
						yes:function (index,layero) {
							var thedata = $('.hbaddForm').serialize();
							JsPost("{:get_addon_url('WelfarePro://index/hbadd')}",thedata,function (re) {
								if(re.status){
									layer.msg('保存成功');
									layer.close(index);
									//userTables.reload();
									layui.table.reload('hbTable');
								}else{
									layer.msg(re.msg);
								}
							});
						}
					});
				}else{
					layer.msg(tpl.msg);
				}
			});
		});


		//删除
		$(document).on('click','.option-del',function(){
			var id = $(this).attr('data-id');
			layer.confirm('您确定删除此记录吗？', {
				btn: ['确认','取消'] //按钮
			}, function(){
				//去删除
				JsPost("{:get_addon_url('WelfarePro://index/hbdel')}",{'id':id},function(res){
					if(res.status){
						layer.msg('删除成功');
						layui.table.reload('hbTable');
					}else{
						layer.msg(res.msg);
					}

				});
			}, function(){
				layer.close(1);
			});
		});
    });



</script>