
<form class="layui-form seller-form"  action="" >
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">选择时间段：</label>
            <div class="layui-input-inline">
                <input type="text" id="ctime" name="ctime" lay-verify="title" placeholder="请选择" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">审核状态：</label>
            <div class="layui-input-inline seller-inline-2">
                <select name="audit_status" id="audit_status">
                    <option value="">全部</option>
                    <option value="0">审核通过</option>
                    <option value="-1">未审核</option>
                    <option value="1">审核失败</option>
                    <option value="2">审核中</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="brand-search"><i class="iconfont icon-chaxun"></i>筛选</button>
        </div>
        <div class="layui-inline">

        </div>
    </div>
    <div></div>
</form>


<div class="table-body">

    <table id="brandTable" lay-filter="brandTable"></table>
</div>


<script>
    layui.use(['table','form','layer','laydate'],function(){
        var layer = layui.layer, table = layui.table,form = layui.form,date = layui.laydate;
        //执行渲染
        table.render({
            elem: '#brandTable', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-320',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            id:'brandTable',
            url: "{:url('wechat/verifyList')}",
            cols: [[ //标题栏
                {type:'numbers'},
                {field: 'template_name', title: '模板名称',align:'center'},
                {field: 'audit_status', title: '审核状态',align:'center'},
                {field: 'reason',sort: false, title: '审核反馈' ,align:'center'},
                {field: 'auditid',sort: false, title: '审核ID' ,align:'center'},
                {field: 'appid',sort: false, title: 'APPID' ,align:'center'},
/*
                {field: 'qrcode',sort: false, title: '预览二维码' ,align:'center'},
*/
                {field: 'ctime',sort: true, title: '创建时间' ,align:'center'}
            ]]
        });

        //search
        date.render({
            elem:'#ctime',
            range: '~'
        });
        form.on('submit(brand-search)', function(data){
            layui.table.reload('brandTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })
</script>