<form class="layui-form  seller-alone-form"  style="padding:20px;">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">{$data['welcomes']['name']}：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="welcomes" required  value="{$data['welcomes']['val']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">{$data['phone']['name']}：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="phone" required  value="{$data['phone']['name']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">{$data['business']['name']}：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="business" required  id="test9" placeholder=" - " value="{$data['business']['val']}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{$data['app_image']['name']}：</label>
        <button type="button" class="layui-btn" id="test1">上传图片</button>
        <div class="layui-upload-list" style="margin-left: 110px">
            <img class="layui-upload-img" id="demo1"  src= "{:_sImage($data['app_image']['val'])}" style="width: 100px;height: 100px">
            <input type="hidden" name="app_image" id="img" value="{$data['app_image']['val']}">
            <p id="demoText"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
            <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
        </div>
    </div>
</form>
<script>
    layui.use(['form','table','laydate','upload'], function(){
        var $ = layui.$,form = layui.form,table = layui.table, laydate = layui.laydate,upload = layui.upload;
        //时间范围
        laydate.render({
            elem: '#test9'
            ,type: 'time'
            ,range: true
        });
        //保存
        form.on('submit(save)', function(data){
            formData = data.field;
            if(!formData){
                layer.msg('请先完善数据', {time: 1300});
                return false;
            }
            $.ajax({
                url: "{:get_addon_url('Pc://PcSettings/index')}",
                type: 'post',
                data: formData,
                dataType: 'json',
                success: function(e){
                    if(e.status === true){
                        layer.msg(e.msg, {time: 1300}, function(){
                            window.location.href= "{:get_addon_url('Pc://PcSettings/index')}";
                        });
                    }else{
                        layer.msg(e.msg, {time: 1300});
                    }
                }
            });
            return false;
        });
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/manage/images/uploadImage/'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                $('#img').attr('value', res.data.image_id); //图片链接（base64）
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });

</script>
