<form style="padding:30px;" class="layui-form layui-form-pane" id="conditionEdit">
    <input type="hidden" name="code" value="{$code}" />
    <input type="hidden" name="grade_id" value="{$grade_id}" />
    <input type="hidden" name="id" value="{$id}" />
    <div class="layui-form-item">
        <label class="layui-form-label">条件名称：</label>
        <div class="layui-form-mid">个人订单量</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">订单量：</label>
        <div class="layui-input-inline seller-inline-2">
            <input name="params[num]" lay-verify="title" autocomplete="off" value="{$params.num}" placeholder="数量" class="layui-input" type="text">
        </div>
        <div class="layui-form-mid layui-word-aux">消费多少笔订单的时候，升级</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">期限：</label>
        <div class="layui-input-inline seller-inline-2">
            <select name="params[limit_day]">
                <option value="0">不限制</option>
                <option value="7">7天</option>
                <option value="30">1个月</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">选择后，在指定时间内消费够订单数量，升级</div>
    </div>
</form>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>