<form style="padding:30px;" class="layui-form layui-form-pane" id="conditionEdit">
    <input type="hidden" name="code" value="{$code}" />
    <input type="hidden" name="grade_id" value="{$grade_id}" />
    <input type="hidden" name="id" value="{$id}" />
    <div class="layui-form-item">
        <label class="layui-form-label">条件名称：</label>
        <div class="layui-form-mid">个人消费</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">满多少：</label>
        <div class="layui-input-inline seller-inline-2">
            <input name="params[money]" lay-verify="title" autocomplete="off" value="{$params.money}" placeholder="金额" class="layui-input" type="text">
        </div>
        <div class="layui-form-mid layui-word-aux">消费金额满多少的时候，升级</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">期限：</label>
        <div class="layui-input-inline seller-inline-2">
            <select name="params[limit_day]">
                <option value="0"   {eq name="$params['limit_day']" value="0" }selected{/eq}>不限制</option>
                <option value="7" {eq name="$params['limit_day']" value="7" }selected{/eq}>7天</option>
                <option value="30" {eq name="$params['limit_day']" value="30" }selected{/eq}>1个月</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">在指定时间内消费够，升级</div>
    </div>
</form>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>