</div>	
<div class="login-footer">
	<div class="w">
	    <div id="footer-2013">
	        <div class="links">
	            <a rel="nofollow" href="javascript:void(0);">
	                关于我们
	            </a>
	            |
	            <a rel="nofollow" href="javascript:void(0);">
	                联系我们
	            </a>
	            |
	            <a rel="nofollow" href="javascript:void(0);">
	                人才招聘
	            </a>
	            |
	            <a rel="nofollow" href="javascript:void(0);">
	                商家入驻
	            </a>
	            |
	            <a href="javascript:void(0);">
	                友情链接
	            </a>
	            |
	            <a href="javascript:void(0);">
	                销售联盟
	            </a>
	        </div>
	        <div class="copyright">
	            Copyright&nbsp;©&nbsp;2017-2018&nbsp;&nbsp;jshop云商 &nbsp;版权所有
	        </div>
	    </div>
	</div>
</div>
</body>
</html>