</div>	
<div class="login-footer">
	<div class="w">
	    <div id="footer-2013">
	        <div class="links">
	            <a rel="nofollow" href="https://www.jihainet.com" target="_blank">
	                关于我们
	            </a>
	            |
	            <a rel="nofollow" href="https://www.jihainet.com" target="_blank">
	                联系我们
	            </a>
	            |
	            <a rel="nofollow"  href="https://www.jihainet.com" target="_blank">
	                人才招聘
	            </a>
	            |
	            <a rel="nofollow"  href="https://www.jihainet.com" target="_blank">
	                商家入驻
	            </a>
	            |
	            <a  href="https://www.jihainet.com" target="_blank">
	                友情链接
	            </a>
	            |
	            <a  href="https://www.jihainet.com" target="_blank">
	                销售联盟
	            </a>
	        </div>
	        <div class="copyright">
	            Copyright&nbsp;©&nbsp;2018&nbsp;&nbsp;河南吉海网络科技有限公司 &nbsp;版权所有
	        </div>
	    </div>
	</div>
</div>
</body>
</html>