<style>
    @media screen and (max-width: 500px) {
        .layui-layer.layui-layer-page {
            width: 100% !important;
            overflow: hidden !important;
            left: 0 !important;
        }
        .layui-layer-title {
            width: 100% !important;
            box-sizing: border-box;
        }
        .layui-layer-content {
            width: 100% !important;
        }
    }
</style>
<form class="layui-form seller-form" action="">
    <div class="layui-form-item" style="margin-bottom:0;">
        <div class="layui-inline">
            <label class="layui-form-label">支付单号：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="payment_id" lay-verify="title" placeholder="请输入支付单号" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label style="width:120px" class="layui-form-label">第三方支付单号：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" name="trade_no" lay-verify="title" placeholder="请输入第三方支付单号" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">支付对象：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="source_id" lay-verify="title" placeholder="请输入支付对象单号" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">下单时间：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="date" id="date" placeholder="开始时间 到 结束时间" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label style="width:120px" class="layui-form-label">用户手机号码：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="mobile" lay-verify="title" placeholder="请输入手机号码" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">支付状态：</label>
            <div class="layui-input-inline" style="width:98px;">
                <select name="status" lay-verify="">
                    <option value=""></option>
                    <option value="1">待支付</option>
                    <option value="2">支付成功</option>
                    <option value="3">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">单据类型：</label>
            <div class="layui-input-inline" style="width:85px;">
                <select name="type" lay-verify="">
                    <option value=""></option>
                    {foreach $bill_payments_type as $key=>$vo}
                    <option value="{$key}">{$vo}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="*"><i
                    class="iconfont icon-chaxun"></i>筛选</button>
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="export-payments"><i
                    class="iconfont icon-msnui-cloud-download" style="font-size: 20px !important;"></i>导出</button>
        </div>
    </div>
</form>
<div class="table-body">
    <table id="billPayments" lay-filter="test"></table>
</div>
<div id="exportPayments" style="display: none;">
    <form class="layui-form export-form" action="">
        <div class="layui-form-item">
            <div class="layui-margin-10">
                <blockquote class="layui-elem-quote layui-text">
                    请先选中或筛选要导出的支付单
                </blockquote>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">任务名称：</label>
                <input type="text" name="taskname" lay-verify="title" style="width:200px;" placeholder="请输入任务名称"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate', 'table'], function () {
        //时间插件
        layui.laydate.render({
            elem: '#date',
            range: '到',
            format: 'yyyy-MM-dd',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
        layui.table.render({
            elem: '#billPayments',
            height: 'full-139',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            url: "{:url('billPayments/index')}?_ajax=1",
            id: 'billPayments',
            cols: [[
                { field: 'payment_id', width: 140, sort: true, title: '支付单号', align: 'center' },
                { field: 'source_id', width: 140, sort: true, title: '支付对象', align: 'center' },
                { field: 'status', width: 100, title: '状态', align: 'center' },
                { field: 'payment_code', width: 120, title: '支付方式', align: 'center' },
                { field: 'type', width: 100, title: '单据类型', align: 'center' },
                { field: 'user_id', width: 130, title: '用户', align: 'center' },
                { field: 'money', width: 100, title: '金额', align: 'center' },
                { field: 'trade_no', title: '第三方支付单号', align: 'center' },
                { field: 'utime', title: '支付时间', align: 'center', width: 170 },
                {
                    field: 'operating', title: '操作', width: 90, align: 'center', templet: function (data) {
                        var html = '';
                        html += '<a  class="layui-btn layui-btn-xs option-view layui-btn-primary" data-id="' + data.payment_id + '">明细</a>';
                        return html;
                    }
                },
            ]]
        });
        layui.form.on('submit(*)', function (data) {
            layui.table.reload('billPayments', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //查看操作
        $(document).on('click', '.option-view', function () {
            JsGet("{:url('billPayments/view')}?payment_id="+$(this).attr('data-id'), function(e){
                if (e.status) {
                    window.box = layer.open({
                        type: 1,
                        content: e.data,
                        area: setpage(600,600),
                        title: '支付单查看'
                    });
                } else {
                    layer.msg(e.msg);
                }
            });
        });
        //支付单导出
        layui.form.on('submit(export-payments)', function (data) {

            layer.open({
                type: 1,
                title: '支付单导出',
                area: setpage(400,290), //宽高
                btn: ['确定', '取消'],
                content: $("#exportPayments").html(),
                yes: function () {
                    //判断是否有选中
                    var checkStatus = layui.table.checkStatus('billPayments');
                    var checkData = checkStatus.data;
                    var length = checkStatus.data.length;
                    var ids = [];
                    if (length) {
                        $.each(checkData, function (i, obj) {
                            ids.push(obj.payment_id);
                        });
                    }

                    //判断是否有选中
                    var filter = $(".seller-form").serialize();
                    filter += '&ids=' + ids;
                    $(".export-form:last").append("<input type='hidden' name='filter' value='" + filter + "'>");
                    var data = $(".export-form:last").serializeArray();

                    data.push({ 'name': 'model', 'value': 'BillPayments' });

                    JsPost("{:url('Ietask/export')}", data, function (res) {
                        layer.msg(res.msg, { time: 1500 }, function () {
                            if (res.status) {
                                layui.table.reload('billPayments');
                                layer.closeAll();
                            }
                        });
                    }
                    );
                }, btn2: function () {
                    layer.closeAll();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>