<link href="__STATIC_JS__umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">

<form class="layui-form seller-alone-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">公告标题：</label>
        <div class="layui-input-inline  seller-inline-7">
            <input type="text" name="title" required  lay-verify="required" placeholder="请输入公告标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text" >
        <label class="layui-form-label">公告内容：</label>
        <div class="layui-input-inline">
            <textarea id="container" name="content" style="width:100%;height:350px;" type="text/plain" required  lay-verify="required" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否发布：</label>
        <div class="layui-input-block">
            <input type="radio" name="is_pub" value="1" title="立即发布">
            <input type="radio" name="is_pub" value="2" title="暂不发布" checked>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline  seller-inline-3">
            <input type="text" name="sort" value="100" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="add">保存</button>
            <button onclick="javascript:history.back(-1);" type="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(add)', function(data){
            JsPost("{:url('BackstageNotice/add')}",data.field,function(res){
                if(res.status === true){
                    layer.msg(res.msg, {time:1300},function(){
                        window.location.href = "{:url('BackstageNotice/index')}";
                    });
                }else{
                    layer.msg(res.msg);
                }
            });
            return false;
        });
    });
</script>

<script src="__STATIC_JS__umeditor/umeditor.config.js"></script>
<script src="__STATIC_JS__umeditor/umeditor.min.js"></script>
<script src="__STATIC_JS__umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var um = UM.getEditor('container');
</script>