<form style="padding:30px;" class="layui-form layui-form-pane" id="conditionEdit">
    <input type="hidden" name="code" value="{$code}" />
    <input type="hidden" name="promotion_id" value="{$promotion_id}" />
    <input type="hidden" name="id" value="{$id}" />
    <div class="layui-form-item">
        <label class="layui-form-label">条件名称：</label>
        <div class="layui-form-mid">满减</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">满多少：</label>
        <div class="layui-input-inline seller-inline-2">
            <input name="params[money]" lay-verify="title" autocomplete="off" value="{$params.money}" placeholder="金额" class="layui-input" type="text">
        </div>
        <div class="layui-form-mid layui-word-aux">订单金额满多少的时候，优惠</div>
    </div>
</form>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>