<form class="layui-form seller-alone-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>门店名称：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="store_name" lay-verify="required" placeholder="请输入门店名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>手机号：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="mobile" lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>联系人：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="linkman" lay-verify="required" placeholder="请输入联系人名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">门店LOGO：</label>
        <div class="layui-input-inline seller-inline-3">
            {Jshop:image id='logo' name="logo" lay-verify="required"/}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>地区选择：</label>
        <div class="layui-input-inline seller-inline-4 address-class">
            {Jshop:area name='area_id' class="select-address" lay-verify="required"/}
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>门店坐标：</label>
        <div class="layui-input-inline seller-inline-6">
            <input type="text" id="coordinate" readonly="readonly" onclick="show_map();" name="coordinate" lay-verify="required" placeholder="点击选择位置坐标" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>详细地址：</label>
        <div class="layui-input-inline seller-inline-6">
            <input type="text" name="address" id="address" required lay-verify="required" placeholder="请输入门店详细地址" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            {:jshopToken('store_add')}
            <button type="button" class="layui-btn" lay-submit lay-filter="add-store">保存</button>
            <button type="button" onclick="javascript:history.back(-1);" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>

<script>
    layui.use(['form','layer'], function(){
        var $ = layui.$,form = layui.form,layer = layui.layer;
        form.render();
        //各种基于事件的操作，下面会有进一步介绍

        form.on('submit(add-store)', function(data){
            JsPost("{:url('Store/add')}",data.field,function(res){
                if(res.status){
                    layer.msg(res.msg, {time:1300},function(){
                        window.location.href = "{:url('Store/index')}";
                    });
                }else{
                    layer.msg(res.msg);
                }
            });
        });
    });


    function show_map()
    {
        layer.open({
            type: 2,
            title: '选择门店位置',
            area: setpage(800,650),
            content: "{:url('Store/showMap')}?coordinate="+$("input[name=coordinate]").val()
        });
    }

</script>
