<div class="layui-form seller-alone-form">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">发货信息</li>
            <li>发货明细</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">发货单号：</label>
                    <div class="layui-input-inline seller-inline-2">
                        <div class="layui-form-mid">{$data.delivery_id}</div>
                    </div>
                    <label class="layui-form-label">收货人：</label>
                    <div class="layui-input-inline seller-inline-2">
                        <div class="layui-form-mid">{$data.ship_name}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">订单号：</label>
                    <div class="layui-input-inline seller-inline-10">
                        <div class="layui-form-mid">{$data.orders}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">快递公司：</label>
                    <div class="layui-input-inline seller-inline-2">
                        <div class="layui-form-mid">{$data.logi_name}</div>
                    </div>
                    <label class="layui-form-label">快递单号：</label>
                    <div class="layui-input-inline seller-inline-2">
                        <div class="layui-form-mid">{$data.logi_no}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">收货电话：</label>
                    <div class="layui-input-inline seller-inline-2">
                        <div class="layui-form-mid">{$data.ship_mobile}</div>
                    </div>
                    <label class="layui-form-label">创建时间：</label>
                    <div class="layui-input-inline seller-inline-3">
                        <div class="layui-form-mid">{$data.ctime}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">收货地址：</label>
                    <div class="layui-input-inline seller-inline-8">
                        <div class="layui-form-mid">{$data.ship_address}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">发货备注：</label>
                    <div class="layui-input-inline seller-inline-8">
                        <div class="layui-form-mid">{$data.memo}</div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <table class="layui-table" lay-size="sm">
                        <colgroup>
                            <col>
                            <col width="100">
                            <col width="100">
                            <col width="90">
                            <col width="90">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商品编码</th>
                                <th>货品编码</th>
                                <th>发货数量</th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach $data.items as $v}
                            <tr>
                                <td>{$v.name} - {$v.addon}</td>
                                <td>{$v.bn}</td>
                                <td>{$v.sn}</td>
                                <td>{$v.nums}</td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'table', 'element'], function () {
        layui.form.render();
    });
</script>