<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label"><i class="required-color">*</i>是否成为分销商品：</label>
        <div class="layui-input-inline">
            <select name="distribution[distribution_type]" lay-verify="required" lay-search>
                <option value="1" {if 1 == $distribution_type} selected {/if}>是</option>
                <option value="2" {if 2 == $distribution_type} selected {/if}>否</option>
            </select>
        </div>
    </div>
</div>
