<div style="padding:30px" class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">参数名称：</label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name" required lay-verify="required" placeholder="请输入参数名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参数类型：</label>
        <div class="layui-input-block">
           <select name="type" id="type">
               <option value="text">文本框</option>
               <option value="radio">单选框</option>
               <option value="checkbox">复选框</option>
           </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参数选项：</label>
        <div class="layui-input-block">
            <input type="text" name="value" id="value" placeholder="多个用空格分开,文本框类型可不填" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>

<script>
    //渲染表单
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>