<div class="content">
    <table class="table">
        <tr>
            <td class="text-center"><h3>{$shop_name}购物清单</h3></td>
        </tr>
        <tr>
            <td class="text-left">客户：{$order.ship_name}，地址：{$order.ship_area_name} - {$order.ship_address}，电话：{$order.ship_mobile}</td>
        </tr>
    </table>
    <table class="table text-left">
        <colgroup>
            <col width="50%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <tbody>
        <tr>
            <th colspan="2" class="text-left">
                <b>订单号：{$order.order_id}</b>
            </th>
            <th colspan="4" class="text-right">
                <b>订购日期：{$order.ctime|date="Y-m-d"}</b>
            </th>
        </tr>
        <tr>
            <th>商品名称</th>
            <th>货号</th>
            <th>单价</th>
            {:hook('orderviewinfo', ['type'=>'title'])}
            <th>重量</th>
            <th>数量</th>
            <th>小计</th>
        </tr>
        {volist name='order.items' id='vo'}
        <tr class="">
            <td>
                {$vo.name}{if condition="$vo.addon"} - {$vo.addon}{/if}
            </td>
            <td>{$vo.sn}</td>
            <td>￥{$vo.price}</td>
            {:hook('orderviewinfo', ['type'=>'value', 'id'=>$vo.goods_id])}
            <td>{$vo.weight}g</td>
            <td>
                {$vo.nums-$vo.sendnums-$vo.reship_nums+$vo.reship_nums_ed}
            </td>
            <td>￥{php} echo $vo['price'] * ($vo['nums']-$vo['sendnums']-$vo['reship_nums']+$vo['reship_nums_ed']); {/php}</td>
        </tr>
        {/volist}
        </tbody>
    </table>

    <table class="table table-condensed text-right">
        <tr>
            <td>商品总价：￥{$order.goods_amount}</td>
        </tr>
        <tr>
            <td>订单优惠：￥{$order.order_pmt}</td>
        </tr>
        <tr>
            <td>运费价格：￥{$order.cost_freight}</td>
        </tr>
        <tr>
            <td>订单价格：￥{$order.order_amount}</td>
        </tr>
        <tr>
            <td align="left">订单附言：{$order.memo}</td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <td>商家：{$shop_name}</td>
            <td>手机：{$shop_mobile}</td>
        </tr>
    </table>

    <input type="submit" class="btn btn-print" onclick="window.print();" value="打印"/>
</div>

<style>
    /*打印时隐藏打印按钮*/
    @media print {
        .btn-print {
            display: none
        }
    }
    .content{
        width: 90%;
        margin: 0 auto;
    }
    table{
        width: 100%;
        border-spacing: 0;
    }
    td,th{
        padding: 10px 5px;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        vertical-align: top;
    }
    .text-left{
        text-align: left;
    }
    .text-center{
        text-align: center;
    }
    .text-right{
        text-align: right;
    }
    .btn-print{
        width: 100%;
        margin-top: 20px;
        height: 50px;
        color: #fff;
        background-color: #009688;
        border: none;
    }
</style>