.layui-main{
    width: 1024px;
    margin: 10px auto;
}
.layui-main .site-h1{
    /*margin-bottom: 20px;*/
    line-height: 60px;
    /*padding-bottom: 10px;*/
    color: #393D49;
    /*border-bottom: 1px solid #eee;*/
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.layui-elem-quote{
    margin-bottom: 20px;
}
.layui-elem-quote h1{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.btn-box{
    text-align: center;
    margin: 30px 0;
}
.version{
    color: #555;
    font-size: 12px;
    margin-left: 10px;
}
@media screen and(max-width: 1024px){
    .layui-main{
        width: 100%;
    }
}
.layui-elem-quote>p{
    margin-bottom: 10px;
}
.layui-elem-quote>p a{
    color: #009688;
}
.layui-elem-quote>p a:hover{
    color: #333;
}
.protocol{
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    background-color: #fff;
    overflow-y: scroll;
    box-sizing: border-box;
}
.protocol h3{
    text-align: center;
    font-size: 18px;
    margin: 10px 0 15px;
}
.protocol h4{
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}
.protocol p{
    line-height: 1.7;
    color: #555;
}
.protocol span{
    margin-top: 20px;
    display: block;
    color: #999;
    font-size: 12px;
}
