<style>
    html{
        background-color: white;
    }
</style>
<!-- //第一步：编写模版。你可以使用一个script标签存放模板，如： -->
<a href="{:get_addon_url('WeRun://page/today')}">返回</a>
<script id="demo" type="text/html">
    <h1>统计数据</h1>
    <br><br><br>
    <div id="step">

        步数: {{ d.steps }}<br>
        里程: 约{{ d.course }}公里<br>
    </div>
    <br><br><br>

  </script>
<!-- //第二步：建立视图。用于呈现渲染结果。 -->

<div id="view"></div>
<!-- //第三步：渲染模版 -->
<script>
    layui.use(['laytpl','layer'], function(){
        var laytpl = layui.laytpl;
        var getTpl = demo.innerHTML
                ,view = document.getElementById('view')

        JsPost("{:get_addon_url('WeRun://page/log')}",{
            'type':1,       // 1   根据year查询汇总   2 根据year-month查询汇总  3 根据year-month-day查询汇总
            'year':'2021',
            'month':'03',
            'day':'04'
        },function (re) {
            if(re.status){
                console.log("统计数据:",re.data)
                laytpl(getTpl).render(re.data, function(html){
                    view.innerHTML = html;
                });
            }else{
                layer.msg(re.msg);
            }
            return;
        });
    })
</script>

