<div style="padding:30px;" class="layui-form  seller-alone-form"  lay-filter="edit_notice"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <input type="hidden" name="id" value="{$noticeInfo.id}">

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>标题：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题信息" value="{$noticeInfo.title}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"><i class="required-color">*</i>内容描述：</label>
        <div class="layui-input-inline seller-inline-4">
            <textarea name="content" required lay-verify="required" placeholder="请输入内容描述" class="layui-textarea">{$noticeInfo.content}</textarea>
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 10px">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="sort" required lay-verify="required" value="{$noticeInfo.sort}" placeholder="数值越小越靠前" autocomplete="off" class="layui-input">
        </div>
    </div>
    {:jshopToken('notice_edit')}

    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</div>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>