
<div class="table-body">
    <table id="tagArticleTable" lay-filter="tagArticleTable"></table>
</div>

<script>
    layui.config({
        base: '__STATIC_LIB__layuiadmin/layui/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['layer', 'table', 'treetable', 'form', 'jquery'], function() {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            treeTables = layui.treetable;


        var renderTables = function() {
            treeTables.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'pid',
                treeDefaultClose: false,
                treeLinkage: false,
                elem: '#tagArticleTable',
                url: "{:get_addon_url('Pc://PcMenu/getArticleType')}",
                page: true,
                cols: [
                    [{
                        type: 'numbers'
                    }, {
                        field: 'type_name',
                        minWidth: 200,
                        title: '分类名称',
                        width: 400
                    }, {
                        align: 'center',
                        title: '操作',
                        toolbar: '#articleTypeBar'
                    }]
                ],
                done: function() {
                    layer.closeAll('loading');
                }
            });
        };
        renderTables();
    })
</script>

<script type="text/html" id="articleTypeBar">
    <a class="layui-btn layui-btn-xs" lay-event="selectArticleType">选择</a>
</script>
