<div style="padding: 30px;" class="layui-form layui-form-pane"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <input type="hidden" name="id" value="{$info.id}">

    <div class="layui-form-item">
        <label style="width: 120px;" class="layui-form-label"><i class="required-color">*</i>商户名称：</label>
        <div class="layui-form-mid">
            {$info.seller_id|getSellerInfoById}
        </div>
    </div>
    <div class="layui-form-item">
        <label style="width: 120px;" class="layui-form-label"><i class="required-color">*</i>广告位名称：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="name" value="{$info.name}" required lay-verify="required" placeholder="请输入广告位名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label style="width: 120px;" class="layui-form-label"><i class="required-color">*</i>广告位编码：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="code" value="{$info.code}" required lay-verify="required" placeholder="请输入广告位编码" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label style="width: 120px;" class="layui-form-label">排序：</label>
        <div class="layui-input-inline seller-inline-2">
            <input type="text" name="sort" value="{$info.sort}" required lay-verify="required" placeholder="请输入顺序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label style="width: 120px;" class="layui-form-label">状态：</label>
        <div class="layui-input-block">
            <input type="radio" name="state" value="1" {eq name="$info.state" value="1"}checked{/eq} title="启用">
            <input type="radio" name="state" value="2" {eq name="$info.state" value="2"}checked{/eq} title="禁用">
        </div>
    </div>
    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="edit-advertPosition">保存</button>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</div>
<script>
    layui.use('form', function(){
        //监听提交
        layui.form.render();
    });
</script>