<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>jShop云商内测限时招募，名额有限立即报名</title>
		<meta name="keywords" content="河南吉海网络科技有限公司,商城小程序,餐饮小程序解决方案,预定小程序解决方案,拼团小程序解决方案" />
		<meta name="description" content="Jshop云商是一个专门解决b2c电子交易的小程序一键生成平台，提供专业的b2c电子商务、餐饮行业、零售行业、预约行业的解决方案。
" />

		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/static/attractinvestment/css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="/static/attractinvestment/css/style.css"/>
		<script src="__STATIC_LIB__layui/layui.js"></script>
		<script src="/static/attractinvestment/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<body>
		<!--顶部图片-->
		<div class="header">
			<img src="/static/attractinvestment/image/banner.png"/>
		</div>
		<!--公告-->
		<div class="notice">
			<div class="swiper-container swiper-notice">
				<div class="swiper-wrapper">
			        <div class="swiper-slide">Jshop云商开始内测啦...1</div>
			        <div class="swiper-slide">Jshop云商内测限前30名商户...2</div>
			    </div>
			</div> 
			<script>
			    var swiper = new Swiper('.notice .swiper-container', {
			      direction: 'vertical',
			      loop: true,
			      autoplay:true,
			    });         
			</script>
		</div>
		<!--内容部分-->   
		<div class="content">
			
			<!--小程序优势-->
			<div class="advantages">
				<div class="content-header">
					<img src="/static/attractinvestment/image/block-left.png"/>
					<h2>Jshop小程序的优势</h2>
					<img src="/static/attractinvestment/image/block-right.png"/>
				</div>
				<div class="content-body">
					<div class="free">
						<div class="advantages-right">
							<h3>免费</h3>
							<p>第一批入驻的前30名，可享受1年免费标准版使用权</p>
						</div>
					</div>
					<div class="more">
						<div class="advantages-right">
							<h3>更大的流量和用户</h3>
							<p>微信日活9亿用户局势您的潜在用户</p>
						</div>
					</div>
					<div class="safe">
						<div class="advantages-right">
							<h3>安全稳定</h3>
							<p>团队7年电商系统研发经验，为您保驾护航</p>
						</div>
					</div>
					<div class="fast">
						<div class="advantages-right">
							<h3>更新速度快</h3>
							<p>上线后，每周一次更新，为您提供更多玩法</p>
						</div>
					</div>
				</div>
			</div>
			
			<!--案例-->
			<div class="case">
				<div class="content-header">
					<img src="/static/attractinvestment/image/block-left.png"/>
					<h2>经典案例</h2>
					<img src="/static/attractinvestment/image/block-right.png"/>
				</div>
				<div class="content-body" id="case">
					<div class="swiper-container">
						<div class="swiper-wrapper">
					        <div class="swiper-slide"><img src="/static/attractinvestment/image/screenshot1.png"/></div>
					        <div class="swiper-slide"><img src="/static/attractinvestment/image/screenshot2.png"/></div>
					        <div class="swiper-slide"><img src="/static/attractinvestment/image/screenshot3.png"/></div>
					    </div>
					</div>
					<script type="text/javascript">																		
						window.onload = function() {
						    var swiper = new Swiper('#case .swiper-container',{
								autoplay:true,
								speed:1000,
								autoplayDisableOnInteraction : false,
								loop:true,
								centeredSlides : true,
								slidesPerView:2,
							});
						}    
					</script>
				</div>
			</div>

			<!--报名-->
			<div class="enroll" id="enroll">
				<div class="content-header">
					<img src="/static/attractinvestment/image/block-left.png"/>
					<h2>在线报名</h2>
					<img src="/static/attractinvestment/image/block-right.png"/>
				</div>
				<div class="content-body">
					<p class="enroll-p">为保证服务有效性，请输入本人真实信息，已成功报名 {$user_count} 人</p>
					<form class="layui-form" action="" method="post">
						<div class="enroll-form">
							<div class="">
								<text>姓名</text><input type="text" name="name" required placeholder="请输入您的姓名">
							</div>
							<div class="">
								<text>手机号</text><input type="text" name="phone" required placeholder="请输入您的手机号">
							</div>
							<div class="">
								<text>您的行业</text><input type="text" name="industry" placeholder="请输入您所在的行业">
							</div>	
							<div class="ennroll-textarea">
								<text>您的留言</text><textarea name="message" rows="" cols=""></textarea>
							</div>
						</div>
						<input type="hidden" name="pid" value="{$pid}">
						<button type="button" class="ennroll-button" lay-submit lay-filter="*">立即报名</button>
						<input type="reset" style="display:none;" />
					</form>
				</div>
			</div>

			<!--常见问题-->
			<div class="problem">
				<div class="content-header">
					<img src="/static/attractinvestment/image/block-left.png"/>
					<h2>常见问题</h2>
					<img src="/static/attractinvestment/image/block-right.png"/>
				</div>
				<div class="content-body">
					<div class="problem-body">
						<div class="problem-title">
							<img src="/static/attractinvestment/image/problem.png"/>
							<h4>入驻是否需要企业资格？个人商家是否可以入住？个人是否可以入驻?</h4>
						</div>
						<p>各类企业和个人商家均可以入驻。暂时不开放个人入驻。</p>
					</div>
					<div class="problem-body">
						<div class="problem-title">
							<img src="/static/attractinvestment/image/problem.png"/>
							<h4>同一身份证/企业。最多可以入驻几次？</h4>
						</div>
						<p>一个身份证/企业营业执照，只能入驻一次。</p>
					</div>
					<div class="problem-body">
						<div class="problem-title">
							<img src="/static/attractinvestment/image/problem.png"/>
							<h4>平台正式上线时间是什么时候？</h4>
						</div>
						<p>平台正式上线时间暂定为4月初，具体时间以官方公告为准。</p>
					</div>
					<div class="problem-body">
						<div class="problem-title">
							<img src="/static/attractinvestment/image/problem.png"/>
							<h4>入驻流程是什么？</h4>
						</div>
						<p>填写联系信息→客服沟通→提交资料→审核通过</p>
					</div>
				</div>
			</div>
			<div class="consult">
				<div class="content-header">
					<img src="/static/attractinvestment/image/block-left.png"/>
					<h2>入驻咨询</h2>
					<img src="/static/attractinvestment/image/block-right.png"/>
				</div>
				<div class="content-body">
					<div class="consult-body">
						<img src="/static/attractinvestment/image/tel.png"/>
						<p>电话：0371-67584810</p>
					</div>
					<div class="consult-body">
						<img src="/static/attractinvestment/image/qq.png"/>
						<p>QQ群：744956088</p>
					</div>
					<div class="consult-body">
						<img src="/static/attractinvestment/image/wechat.png"/>
						<p>微信：pilici</p>
					</div>
				</div>
			</div>
			<div class="qrcode">
				<div class="content-body">
					<img src="/static/images/demoProgram.jpg" alt="">
					<p>长按图片体验小程序</p>
				</div>

			</div>
		</div>
		<div class="footer">
			<div class="footer-left">
				<a href="tel:0371-67584810">联系客服</a>
			</div>
			<div class="footer-right">
				<a href="#enroll">立即报名</a>
			</div>
		</div>
	</body>
	
</html>

<script>

	layui.use(['form','layer'],function(){
		var form = layui.form,$ = layui.$,layer = layui.layer;

		form.on('submit(*)',function(data){
			$.post("{:url('b2c/Index/business')}",data.field,function(res){
				if ( res.status ) {
					$("input[type=reset]").trigger("click");
					layer.msg(res.msg);
				}else{
					layer.msg(res.msg);
				}
			})
		})
	});
</script>
