<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>在线咨询</title>
    <link href="https://pubres.aihecong.com/web/link/hecong.css" rel="stylesheet"></head>
<body>
<script>
    window.entId = {$ent_id};
</script>
<div id="aihecong"></div>
<script type="text/javascript" src="https://pubres.aihecong.com/web/link/hecong.js"></script>
</body>
</html>