<form class="layui-form seller-form"  action="" >
    <div class="layui-form-item" style="margin-bottom:0;">
        <div class="layui-inline">
            <label style="width:120px" class="layui-form-label">用户手机号码：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="mobile" lay-verify="title" value="{$post.mobile}" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">类型：</label>
            <div class="layui-input-inline" style="width:98px;" >
                <select name="type" lay-verify="">
                    <option value=""></option>
                    <option value="1">签到</option>
                    <option value="2">消费送积分</option>
                    <option value="3">消费积分</option>
                    <option value="4">后台编辑</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="*"><i class="iconfont icon-chaxun"></i>筛选</button>
        </div>

    </div>
</form>
<div class="table-body">
    <table id="billPayments" lay-filter="test"></table>
</div>




<script>
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        layui.table.render({
            elem: '#billPayments',
            height: 'full-330',
            cellMinWidth: '80',
            page: 'true',
            limit:'20',
            url: "{:url('User/pointList')}?_ajax=1",
            id:'billPayments',
            cols: [[
                {field:'user_id', width:140, sort: true,title:'用户'},
                {field:'type', width:100,title:'类型'},
                {field:'num',width:100,title:'积分'},
                {field:'balance',title:'余额'},
                {field:'remarks',title:'备注'},
                {field:'ctime',title:'时间'},
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('billPayments', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //查看操作
        $(document).on('click','.option-view',function(){
            $.ajax({
                type:'get',
                url: "{:url('billPayments/view')}",
                data:'payment_id='+$(this).attr('data-id'),
                success:function(e){
                    if(e.status){
                        window.box = layer.open({
                            type: 1,
                            content: e.data,
                            area: ['600px', '600px'],
                            title:'支付单查看'
                        });
                    }else{
                        layer.msg(e.msg);
                    }

                }
            });
        });
    });
</script>
