<style>
    .clearfix:after,.clearfix:before{
        content: "";
        display: table;
    }
    .clearfix:after{
        clear: both;
    }
    .clearfix{
        *zoom: 1;
        padding-top: 5px;
    }
    .clearfix button{
        height: 38px;
        line-height: 38px;
        text-align: center;
    }
</style>
<div style="padding: 30px;" class="layui-form layui-form-pane" lay-filter="edit_package"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <input type="hidden" name="id" value="{$info.id}">

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i> 活动名称：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入活动名称" value="{$info.name}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">头像：</label>
        <div class="layui-input-inline">
            {Jshop:image id="image" name="image" value="$info.image"}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">启用状态：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" lay-skin="switch" {eq name="$info.status" value="1"} checked {/eq}  value="1" lay-text="启用|禁用">
        </div>
    </div>

    <div class="layui-form-item " id="father">
        {present name="info.items"}
        {foreach $info['items'] as $key_i=>$v }
        <div id="element" class="clearfix">
            <label class="layui-form-label"><span style="color: red;">*</span>商品：</label>
            <div class="pro clearfix">
                <div class="layui-input-inline seller-inline-7">
                    <select name="goods[{$key_i}][product_id]" lay-verify="" lay-search>
                        <option value="">根据商品ID、名称、编号搜索</option>
                        {volist name=":model('app\common\model\Goods')->productsList()" id="val"}
                        <option value="{$val.product_id}" {eq name="$val.product_id" value="$v['product_id']"}selected{/eq}>货品编号：{$val.sn}，商品名称：{$val.name|mb_substr=0,20}，商品编号：{$val.bn}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline seller-inline-2">
                    <input type="checkbox" name="goods[{$key_i}][type]" lay-skin="switch" value="1" lay-text="付费|免费" {eq name="$v.type" value="0"} checked {/eq}>
                </div>
                <div class="layui-input-inline seller-inline-2">
                    <div class="layui-btn-group">

                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm del">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {/foreach}
        {else /}
        {/present}
    </div>
    <div class="layui-form-item" id="add-package">
        <label class="layui-form-label">添加商品：</label>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm add-package">
            <i class="layui-icon">&#xe654;</i>
        </button>
    </div>
</div>

<script>
    var i = {$k|default='1'};
    $("#add-package").on("click", ".add-package", function () {
        i++;
        var element = '<div id="element" class="clearfix">' +
            '<label class="layui-form-label"><span style="color: red;">*</span>商品</label>' +
            '<div class="pro clearfix">' +
            '<div class="layui-input-inline seller-inline-7">' +
            '<select name="goods[' + [i] + '][product_id]" lay-verify="" lay-search>' +
            '<option value="">根据商品ID、名称、编号搜索</option>' +
            '{volist name=":model('app\common\model\Goods')->productsList()" id="val"}' +
        '<option value="{$val.product_id}">货品编号：{$val.sn}，商品名称：'+"{$val.name|mb_substr=0,20}"+'，商品编号：'+"{$val.bn}"+'</option>' +
        '{/volist}' +
        '</select>' +
        '</div>' +
        ' <div class="layui-input-inline seller-inline-2">' +
        '<input type="checkbox" name="goods[' + [i] + '][type]" lay-skin="switch" value="0" lay-text="付费|免费" checked>'+
        '</div>' +
        ' <div class="layui-input-inline seller-inline-2">' +
        '<div class="layui-btn-group">' +
        '<button type="button" class="layui-btn layui-btn-primary layui-btn-sm del" >' +
        '<i class="layui-icon">&#xe640;</i>' +
        ' </button>' +
        '</div>' +
        '</div></div>'
        $("#father").append(element)

        layui.form.render('select')
        layui.form.render('checkbox')
    })
    $("#father").on("click", ".del", function () {
        $(this).parents("#element").remove();
    })
    layui.use(['form','laydate'], function(){
        layui.form.render();
        //时间插件
        layui.laydate.render({
            elem: '#date',
            range: '到',
            type: 'datetime',
            trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
    });
</script>