<style>
    {if $goods_id == 0}
    .seller-form {
        padding: 10px 10px 10px 10px;
    }
    {/if}
</style>
<form class="layui-form seller-form" action="">

        <div class="layui-form-item">
            {if $goods_id != 0}
            <div class="layui-inline seller-inline-3" style="text-align: left !important;">
                <a onclick="window.history.back();" href="#" class="layui-btn layui-btn-sm layui-btn-primary">返回</a>
            </div> 
            {else /}
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="goods_name" lay-verify="title" placeholder="商品名称" autocomplete="off"
                    class="layui-input">
            </div>
            {/if}

        
        <div class="layui-input-inline seller-inline-3">
            <input type="text" name="mobile" lay-verify="title" placeholder="用户手机号码" autocomplete="off"
                class="layui-input">
        </div>

        <div class="layui-input-inline seller-inline-3">
            <input type="text" name="order_id" placeholder="订单号" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <select name="status" lay-verify="">
                <option value="">状态</option>
                <option value="1">显示</option>
                <option value="2">隐藏</option>
            </select>
        </div>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="date" id="date" placeholder="评价时间" autocomplete="off"
                class="layui-input">
        </div>

        <!--<div class="layui-inline">-->
        <!--<label class="layui-form-label">评价类型：</label>-->
        <!--<div class="layui-input-inline seller-inline-2">-->
        <!--<select name="evaluate" id="evaluate">-->
        <!--<option value="all">&#45;&#45; 全部 &#45;&#45;</option>-->
        <!--<option value="1">好评</option>-->
        <!--<option value="0">中评</option>-->
        <!--<option value="-1">差评</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <div class="layui-input-inline seller-inline-2">
            <button  lay-submit lay-filter="*" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon layui-icon-search"></i></button>
        </div>
    </div>
</form>

<div class="table-body">
    <table id="CommentTable" lay-filter="test"></table>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate', 'table'], function () {
        var $ = layui.$,laydate = layui.laydate;
         //时间插件
         laydate.render({
            elem: '#date',
            range: '到',
            format: 'yyyy-MM-dd',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
        layui.table.render({
            elem: '#CommentTable',
            height: 'full-99',
            cellMinWidth: '80',
            page: true,
            even: true,
            limit: '20',
            url: "{:url('user/comment')}?goods_id={$goods_id}",
            id: 'CommentTable',
            method: 'post',
            cols: [[
                {field:'id', width:90, title:'ID', align: 'center'},
                { field: 'operating', title: '操作', align: 'center', width: 110, templet: function (data) {
                        var html = '';
                        html += '<a class="layui-btn layui-btn-xs comment-return" data-id="' + data.id + '">评价回复</a>';
                        return html;
                    }
                },
                { field: 'display', sort: true, title: '前台显示状态', width: 130, align: 'center', templet: function (data) {
                        if (data.display === 1) {
                            return '<a href="javascript:void(0);" class="display" data-id="' + data.id + '">隐藏</a>';
                        } else {
                            return '<a href="javascript:void(0);" class="display" data-id="' + data.id + '">显示</a>';
                        }
                    }
                },
                { field: 'username', width: 150,  title: '用户', align: 'center'},
                { field: 'order_id', title: '订单号', align: 'center', width: 160 },
                {field:'goods', width:180, title:'评价商品', align: 'center', templet: function (data) {
                                var html = '';
                                if(data.name){
                                    html += data.name;
                                }
                                if(data.addon){
                                    html += ' - '+ data.addon;
                                }
                                return html;
                            }
                        },
                { field: 'evaluate', width: 110, sort: true, title: '评价星数', align: 'center', templet: function (data) {
                        // if (data.score == 1) {
                        //     return '好评';
                        // } else if (data.score == 0) {
                        //     return '中评';
                        // } else if (data.score == -1) {
                        //     return '差评';
                        // }
                        return data.score + '星';
                    }
                },
                { field: 'content', title: '评价内容', minWidth: 150, align: 'center' },
                { field: 'content', title: '评价图片', width: 150, align: 'center', templet: function (d) {
                        if (d.images != '') {
                            var html = '';
                            for (var i = 0; i < d.images_url.length; i++) {
                                html += '<a href="javascript:void(0);" onclick=viewImage("' + d.images_url[i] + '")><image style="max-width:30px;max-height:30px;" src="' + d.images_url[i] + '"/></a>';
                            }
                            return html;
                        } else {
                            return '';
                        }
                    }
                },
                { field: 'ctime', sort: true, title: '评价时间', width:170, align: 'center' },
  

            ]]
        });
        layui.form.on('submit(*)', function (data) {
            layui.table.reload('CommentTable', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //前台展示设置
        $(document).on("click", '.display', function () {
            var id = $(this).attr('data-id');
            layer.confirm('是否确认该操作？', {
                title: "提示",
                btn: ['是', '否']
            }, function () {
                JsPost("{:url('Goods/setDisplay')}", { 'id': id }, function (res) {
                    layer.msg(res.msg);
                    layui.table.reload('CommentTable');
                });
            }, function () {
                layer.closeAll();
            });
        });

        //返回上个页面
        $(document).on("click", '.return-goods', function () {
            console.log("{:url('goods/index')}");
            self.location = "{:url('goods/index')}";
        });

        //回复
        $(document).on("click", '.comment-return', function () {
            var id = $(this).attr('data-id');
            JsPost("{:url('Goods/getCommentInfo')}", { 'id': id }, function (res) {
                if (res.status) {
                    var seller_content = res.data.seller_content == null ? '' : res.data.seller_content;
                    var score = '';
                    for (var i = 0; i < res.data.score; i++) {
                        score += '<img src="/static/images/redstar.png" width="15" height="15" />';
                    }
                    window_box = layer.open({
                        type: 1,
                        title: "商家回复",
                        area: setpage(500,380), //宽高
                        btn: ['保存', '关闭'],
                        content: '<div style="padding:20px"><input type="hidden" id="return-id" value="' + id + '">' +
                            '<div><span>用户评价：</span>' + res.data.content + '</div>' +
                            '<div style="margin-top: 15px;"><span>用户评分：</span>' + score + '</div>' +
                            '<div style="margin-top: 15px;"><span style="display: block;margin-bottom: 15px;">商家回复：</span><textarea class="layui-textarea" name="return-content" id="return-content" cols="10" rows="5">' + seller_content + '</textarea></div></div>',
                        yes: function () {
                            var id = $("#return-id").val();
                            var return_content = $("#return-content").val();
                            JsPost("{:url('Goods/sellerContent')}", { 'id': id, "seller_content": return_content }, function (res) {
                                layer.closeAll();
                                layer.msg(res.msg);
                                layui.table.reload('CommentTable');
                            });
                        }
                    });
                } else {
                    layer.msg(res.msg);
                    layui.table.reload('CommentTable');
                }
            });
            return false;
        });
    });
</script>