<style>
    .layui-inline .layui-input-block{
        margin-left: 110px;
    }
</style>
<div class="layui-form seller-alone-form" style="margin-top: 20px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">当前积分：</label>
            <div class="layui-form-mid">{$point}</div>
            <input type="hidden" id="user_id" value="{$user_id}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">积分变动：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="number" id="point" class="layui-input" value="" min="-{$point}">
            </div>
            <div class="layui-form-mid layui-word-aux">正数为加，负数为减</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">变动说明：</label>
            <div class="layui-input-inline seller-inline-5">
                <input type="text" id="memo" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm edit-point-save">更改</button>
            </div>
        </div>
    </div>
    {:jshopToken('edit_point')}
</div>