<form class="layui-form  seller-alone-form" id="userEdit" style="padding: 20px;">
    <div class="layui-form-item">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="layui-inline">
            <label class="layui-form-label">手机号：</label>

            <div class="layui-input-inline">
                <span style="display:block;height: 38px;line-height: 38px;">{$info.mobile}</span>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <span style="display:block;height: 38px;line-height: 38px;">{$info.username}</span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">密码：</label>

            <div class="layui-input-inline">
                <input type="text" name="password" class="layui-input" placeholder="为空时不修改密码" autocomplete="off" onfocus="this.type='password'" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">确认密码：</label>

            <div class="layui-input-inline">
                <input type="text" name="repassword" class="layui-input" placeholder="请与密码保持一致" autocomplete="off" onfocus="this.type='password'" >
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别：</label>

            <div class="layui-input-inline">
                <input type="radio" name="sex" value="1" title="男" {if $info.sex==1}checked="checked" {/if}> <input
                    type="radio" name="sex" value="2" title="女" {if $info.sex==2}checked="checked" {/if}>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">生日：</label>

            <div class="layui-input-inline">
                <input type="text" name="birthday" id="birthday" class="layui-input" value="{$info.birthday}" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">等级：</label>

            <div class="layui-input-inline">
                <select name="grade">
                    <option value="">请选择</option>
                    {foreach $grade as $k=>$v}
                    <option value="{$v.id}" {if $v.id==$info.grade}selected="selected" {/if}>{$v.name} </option>
                    {/foreach} </select></div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态：</label>

            <div class="layui-input-inline">
                <select name="status" id="status">
                    <option value="1" {if $info.status=='1' }selected="selected" {/if}>正常 </option>
                    <option value="2" {if $info.status=='2' }selected="selected" {/if}>停用 </option>
                </select></div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">昵称：</label>

            <div class="layui-input-inline">
                <input type="text" name="nickname" class="layui-input" value="{$info.nickname}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邀请人：</label>

            <div class="layui-input-inline">
                {Jshop:selectuser value="$info.pid" num="1" name="pid" /}
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">头像：</label>

            <div class="layui-input-inline">
                {Jshop:image id="avatar" name="avatar" value="$info.avatar"}
            </div>
        </div>
        <div class="layui-inline" style="margin-top: -50px">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-inline">
                <textarea name="remarks" maxlength="100" cols="10" rows="3" placeholder="用户备注" class="layui-textarea" style="resize: none">{$info.remarks}</textarea>
            </div>
        </div>
    </div>
    {:jshopToken('edit_user')}
</form>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form, laydate = layui.laydate;
        laydate.render({
            elem: '#birthday',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
        form.render();
    });
</script>