<form style="padding:30px;" class="layui-form layui-form-pane conditionAdd">
    <div class="layui-form-item">
        <label class="layui-form-label">促销条件：</label>
        <div class="layui-input-block">
            <select name="condition_code" id="condition_code">
                <option value="">请选择促销条件</option>
                {volist name='code' id='vo'}
                <option value="{$key}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>