<form class="layui-form seller-alone-form" action="" style="min-height:600px;">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>优惠券名称：</label>
        <div class="layui-input-inline seller-inline-5">
            <input name="name" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input" type="text">
        </div>
        <div class="layui-form-mid layui-word-aux">优惠券名称会显示到前台，请合理输入此名称</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">启用状态：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" lay-skin="switch" checked  value="1" lay-text="启用|禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权重：</label>
        <div class="layui-input-inline seller-inline-1">
            <input type="text" name="sort" required  lay-verify="required" value="100" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">数字越小，权重越大</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否排他：</label>
        <div class="layui-input-inline seller-inline-1">
            <input type="checkbox" name="exclusive" lay-skin="switch"   value="2" lay-text="是|否">
        </div>
        <div class="layui-form-mid layui-word-aux">当设置排他之后，权重小于此优惠券的不能使用了</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">可领取数量：</label>
        <div class="layui-input-inline seller-inline-1">
            <input type="number" name="max_nums" required  lay-verify="required" value="0" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">优惠券所有用户可领取总数量,0为无限制</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户领取：</label>
        <div class="layui-input-inline" style="width: 65px">
            <input type="checkbox" name="auto_receive" lay-skin="switch" checked  value="1" lay-text="启用|禁用">
        </div>
        <div class="layui-form-mid layui-word-aux">启用后，用户可在前台直接领取</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>起止时间：</label>
        <div class="layui-input-inline seller-inline-6">
            <input  type="text" name="date" value="" id="date" placeholder="请输入起止时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">有效期：</label>
        <div class="layui-input-inline seller-inline-2">
            <input type="number" name="term_day" required  lay-verify="required" value="0" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">天，从领取的那一刻起，有效期多久,0为上面的起止时间里的结束时间</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            {:jshopToken('coupon_add')}
            <button class="layui-btn" lay-submit="" lay-filter="promotion">下一步</button>
            <a class="layui-btn layui-btn-primary" href="javascript:history.back(-1);">返回</a>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
                ,layer = layui.layer
                ,laydate = layui.laydate;
        //时间插件
        laydate.render({
            elem: '#date',
            range: '到',
            type: 'datetime',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });

        //提交
        form.on('submit(promotion)', function(data){
            JsPost("{:url('promotion/couponAdd')}", data.field, function(res){
                if(res.status == true){
                    layer.msg('添加成功');
                    window.location.href=res.data;
                }else{
                    layer.msg(res.msg);
                }
            });
            return false;
        });
    });
</script>