<form class="layui-form seller-form"  action="" >
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:120px;">团购(秒杀)名称：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="name" lay-verify="title" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">启用状态：</label>
            <div class="layui-input-inline seller-inline-2">
                <select name="status" lay-verify="">
                    <option value=""></option>
                    <option value="1">开启</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">起止时间：</label>
            <div class="layui-input-inline seller-inline-6">
                <input  type="text" name="date" value="" id="date" placeholder="请输入起止时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*"><i class="iconfont icon-chaxun"></i>筛选</button>
            <a href="{:url('Promotion/groupAdd')}" class="layui-btn layui-btn-sm option-add">
                <i class="layui-icon">&#xe608;</i> 添加
            </a>
        </div>
    </div>
</form>
<div class="table-body">
    <table id="promotion" lay-filter="test"></table>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate','table'], function(){
        //时间插件
        layui.laydate.render({
            elem: '#date',
            range: '到',
            type: 'datetime',
						trigger: 'click' //自动弹出控件的事件，采用click弹出
        });

        //表格渲染
        var promotionTable = layui.table.render({
            elem: '#promotion',
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit:'{:config("jshop.page_limit")}',
            url: "{:url('promotion/group')}?_ajax=1",
            id:'promotion',
            cols: [[
                {field:'id', width:90, title:'ID', align: 'center'},
                {field:'name',title:'团购(秒杀)名称', align: 'center'},
                {field:'sort', sort: true,title:'权重', align: 'center', width: 100},
                {field:'type', sort: true,title:'类型',templet:function (data) {
                    if(data.type=='3'){
                        return '团购';
                    }else{
                        return '秒杀';
                    }
                }, align: 'center', width: 110},
                {field:'status',sort: true,title:'启用状态', templet: '#status', width: 110, align: 'center'},
                {field:'stime',sort: true,title:'开始时间', align: 'center', width: 170},
                {field:'etime',sort: true,title:'结束时间', align: 'center', width: 170},
                {field: 'operating', title: '操作', width: 140, align: 'center',templet:function(data){
                    var html = '';
                    html += '<a  class="layui-btn layui-btn-xs" href="{:url('promotion/groupEdit')}?id=' + data.id + '">编辑</a>';
                    html += '<a  class="layui-btn layui-btn-danger layui-btn-xs option-del" data-id="' + data.id + '" >删除</a>';
                    return html;
                }}
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('promotion', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });


        //促销删除
        $(document).on('click','.option-del',function(){
            var id = $(this).attr('data-id');
            layer.confirm('您确定删除此活动信息？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                //去删除
                JsPost("{:url('promotion/groupDel')}",{'id':id},function(res){
                    if(res.status){
                        layer.msg('删除成功');
                        promotionTable.reload();
                    }else{
                        layer.msg(res.msg);
                    }
                });
            }, function(){
                layer.close(1);
            });
        });


        //监听 操作状态
        layui.form.on('switch(change)', function(obj){
            JsPost("{:url('Promotion/changeState')}",{
                id: obj.value,
                elem: obj.elem.name,
                state: obj.elem.checked
            },function(res){
                layer.msg(res.msg);
            });
        });

    });
</script>

<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="change" {{ d.status == 1 ? 'checked' : '' }}>
</script>
