<form style="padding:30px;" class="layui-form layui-form-pane resultAdd">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>促销结果：</label>
        <div class="layui-input-block">
            <select name="result_code" id="result_code">
                <option value="">请选择促销结果</option>
                {volist name='code' id='vo'}
                <option value="{$key}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        layui.form.render();
    });
</script>